<div class="main-header">
  <h5>Work Screen</h5>
</div>

<div class="container">

  <div *ngIf="clinicians.length>0">
    <div class="assigned" style="float: right;">
      <label><strong>Clinician Assigned</strong></label>
      <select class="form-control" required (change)="showClinicianButtons=!showClinicianButtons" [(ngModel)]="selectedClinician" [compareWith]="compareClinicians">
        <option *ngFor="let clinician of clinicians" [ngValue]="clinician">
          <span>{{clinician.name}}</span>
        </option>
      </select>
      <section *ngIf="showClinicianButtons">
          <button class="btn special-button" (click)="assignClinicianToEpisodeOfCare()">
          Assign</button>
          <button class="btn special-button" (click)="showClinicianButtons = !showClinicianButtons"
          >Cancel</button>
      </section>
    </div>
  </div>

  <div class="row">
    <h6 class="col-3">History</h6>

    <!-- Tool Bar -->

    <div class="dropdown">
        <button class="btn special-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="showNewTool = !showNewTool">
          New
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" (click)="openTaskForm()">New Task</a>
          <a class="dropdown-item" (click)="openNoteForm()">New Note</a>
        </div>
      </div>
  </div>

      <div id="tabs" #tabs>
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link active" [ngClass]="{ 'active':activeTab==='all'}" (click)="displayAll()"
                  data-toggle="tab">All</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{ 'active':activeTab==='task'}" data-toggle="tab"
                  (click)="displayOnlyTasks()">Tasks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{ 'active':activeTab==='notes'}" data-toggle="tab"
                    (click)="displayOnlyNotes()">Notes</a>
              </li>
          </ul>
        </div>
  
  <div class="row">
    <!-- 1. History -->
    <div class="col-4">
      <div *ngIf="showNoteForm">
        <form [formGroup]="noteFormGroup" novalidate>
          <section class="form-section">
            
            <label for="title">Note Title</label>
            <input type="text" name="title" id="title" formControlName="title" class="form-control" required placeholder="Enter Note Title">
            
            <label for="note">Note</label>
            <input type="text" name="note" id="note" formControlName="note" class="form-control note" required placeholder="Enter Notes">
            
          </section>

          <section class="form-buttons">
            <button class="btn special-button" (click)="saveNotes()">Save</button>
            <button class="btn special-button" (click)="showNoteForm = !showNoteForm">Cancel</button>
          </section>
        </form>
      <hr>
      </div>
      <!-- Task Form -->
      <div *ngIf="showTaskForm">
        <!-- Task Form -->
        <form [formGroup]="taskFormGroup" novalidate>
  
            <section class="form-section">
              <div class="row">
                <div class="col">
                  <label for="description">Task</label>
                  <input type="text" name="description" id="description" formControlName="description" class="form-control"
                    required placeholder="Enter">
                  <div *ngIf="taskFormGroup.controls['description'].invalid
                             && (taskFormGroup.controls['description'].touched || taskFormGroup.controls['description'].dirty)">
                    <div class="error-message">
                      Title cannot be empty
                    </div>
                  </div>
                </div>
              </div>
        
              <div class="row" *ngIf="practitioners.length > 0">
                <div class="col">
                  <label for="assignTo">Assign To</label>
                  <select name="assignTo" id="assignTo" formControlName="assignTo" class="form-control" required>
                    <option *ngFor="let practitioner of practitioners" [value]="practitioner.id">
                      <span *ngFor="let name of practitioner.name">{{name.given}} {{name.family}} </span>
                    </option>
                  </select>
                  <div *ngIf="taskFormGroup.controls['assignTo'].invalid
                             && (taskFormGroup.controls['assignTo'].touched || taskFormGroup.controls['assignTo'].dirty)">
                    <div class="error-message">
                      Assignee cannot be empty
                    </div>
                  </div>
                </div>
              </div>
        
              <div class="row">
                <div class="col">
                  <label for="instruction">Instructions</label>
                  <input type="text" name="instruction" id="instruction" formControlName="instruction" class="form-control"
                    required placeholder="Enter">
                  <div *ngIf="taskFormGroup.controls['instruction'].invalid
                             && (taskFormGroup.controls['instruction'].touched || taskFormGroup.controls['instruction'].dirty)">
                    <div class="error-message">
                      Instructions cannot be blank
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <section class="form-buttons">
                <button class="btn special-button" (click)="saveTask()" [disabled]="!taskFormGroup.valid">
                Create Task</button>
                <button class="btn special-button" (click)="showTaskForm = !showTaskForm"
                [disabled]="taskFormGroup.valid">Cancel</button>
            </section>

          </form>
          <hr>
      </div>

      <!-- Showing History -->
      <div class="card" *ngFor="let item of historyToDisplay;let i = index;">
          <div class="card-body">
              <div class="card-title">
                {{item.title}}
                <font class="task-status" *ngIf="item.type==='task'">{{item.status | titlecase}}</font>
              </div>
              <p class="card-text" *ngIf="item.note && item.type!=='task'">
                {{item.note}}
              </p>
              <p class="card-text" *ngIf="item.author">
                <strong>Author: </strong>{{item.author}}
              </p>
              <p class="card-text" *ngIf="item.assignee">
                <strong>Assignee: </strong>{{item.assignee}}
              </p>
              <p class="card-text" *ngIf="item.assignor">
                <strong>Assignor: </strong>{{item.assignor}}
              </p>
              <p class="card-text" *ngIf="item.dateCreated">
                <strong>Date created: </strong>{{item.dateCreated}}
              </p>
              <p class="card-text" *ngIf="item.note && item.type==='task'">
                <strong>Activity: </strong>{{item.note}}
              </p>
              <div class="card-link">
                  <a *ngIf="item.type==='task' && item.status==='in-progress'"
                  (click)="completeTask(i)">Mark as done</a>

                  <a *ngIf="item.type==='task' && item.status==='Assigned - Waiting' && !item.showActivity && !item.note"
                  (click)="item.showActivity=true">Mark as done</a>
                  <div *ngIf="item.showActivity">
                    <label><strong>Activity completed: </strong></label> 
                    <input type="text" [(ngModel)]="item.activity" class="form-control activity"
                    placeholder="Activity that completes this task">
                    <div class="activity-buttons">
                      <a (click)="completeClinicalAssignment(item)">Save</a>
                      <a *ngIf="item.type==='task' && item.status==='Assigned - Waiting' && item.showActivity"
                      (click)="item.showActivity=false" class="cancel-activity">Cancel</a>  
                    </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  
    <!-- 2. Care Plan section, shown only when needed -->

    <div class="col-5">
      <div #spacer></div>
      <div class="search-box" stickyThing marginTop="30" [spacer]="spacer">
        <div *ngFor="let item of carePlanActivities; let i = index">
          <label>
            <input type="checkbox" [(ngModel)]="item.value" (change)="onChecklistChange(i)" checked="{{item.value}}" id="i">
            <span class="checklist-label">{{item.description}}</span>
          </label>
        </div>
      </div>
    </div>

  
    <!-- 3. Right fixed section -->

    <div class="col-3">
      <!-- 3a. Status of Care Plan -->
      
      <!-- 3b. Summary: Client information -->
      <div stickyThing marginTop="30" [spacer]="spacer">

        <div class="card">
          <div class="card-body">
            <label class="card-title"><strong>Assigned Admin</strong></label>
            <p>{{assignedAdmin}}</p>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <label class="card-title"><strong>Summary</strong></label>
            <p class="card-text" *ngIf="summary.clientName">
              <strong>Client Name: </strong> {{summary.clientName}}
            </p>
            <p class="card-text" *ngIf="summary.clientDOB">
              <strong>Client Date of Birth: </strong> {{summary.clientDOB}}
            </p>
            <p class="card-text" *ngIf="summary.clientDepartment">
              <strong>Client Department: </strong> {{summary.clientDepartment}}
            </p>
            <p class="card-text" *ngIf="summary.jobTitle">
              <strong>Job Title: </strong> {{summary.jobTitle}}
            </p>
            <p class="card-text" *ngIf="summary.clientBranch">
              <strong>Client Branch: </strong> {{summary.clientBranch}}
            </p>
            <p class="card-text" *ngIf="summary.psohpService">
              <strong>PSOHP Service: </strong> {{summary.psohpService}}
            </p>
            <p class="card-text" *ngIf="summary.submittingDepartment">
              <strong>Submitting Department: </strong> {{summary.submittingDepartment}}
            </p>
            <p class="card-text" *ngIf="summary.receivingDepartment">
              <strong>Receiving Department: </strong> {{summary.receivingDepartment}}
            </p>
            <p class="card-text" *ngIf="summary.ohagOccupation">
              <strong>OHAG Occupation: </strong> {{summary.ohagOccupation}}
            </p>
            <p class="card-text" *ngIf="summary.ohagEnvironmentalModifier">
              <strong>OHAG Environmental Modifier: </strong> {{summary.ohagEnvironmentalModifier}}
            </p>
          </div>
        </div>
      </div>
    </div>
  

  </div>

</div>