<div class="container">

  <div class="main-header">

    <div class="row">
      <div class="col-4">
        <h5>Work Screen</h5>
      </div>

      <div class="col-5">
        <!-- <div *ngIf="clinicians.length>0" class="col clinician">
          <div class="assign-clinician">
            <section class="form-inline">
              <label class="clinician-box-label"><strong>Clinician Assigned</strong></label>
              <select class="form-control select-clinician" required
                (change)="showClinicianButtons=!showClinicianButtons" [(ngModel)]="selectedClinician"
                [compareWith]="compareClinicians">
                <option *ngFor="let clinician of clinicians" [ngValue]="clinician">
                  <span>{{clinician.name}}</span>
                </option>
              </select>
            </section>
            <section *ngIf="showClinicianButtons" class="assign-buttons">
              <button class="btn special-button" (click)="assignClinicianToEpisodeOfCare()">
                Assign</button>
              <button class="btn special-button" (click)="showClinicianButtons = !showClinicianButtons">Cancel</button>
            </section>
          </div>
        </div> -->
      </div>


    </div>



  </div>

  <div class="row">
    <div class="card summary-top-card  summary-card-text">
      <div class="card-body summary-card-body">
        <app-milestone-tracking></app-milestone-tracking>
        <div class="timeline-row">
        </div>
        <!-- <div class="row summary-card-row-adjust" *ngIf="milestoneForDisplay">

          <div class="col">

            <div class=" text-left" *ngIf="milestoneObject">
              <div class="dropdown ">
                <button class="btn milestone-menu-button" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="true">
                  Update Milestone Progress
                </button>
                <div class="dropdown-menu milestone-menu" aria-labelledby="dropdownMenuButton">
                  <form [formGroup]="milestoneFormGroup" class="px-4 milestone-formgroup-adjust" novalidate>
                    <section class="form-section">
                      <div class="row">
                        <div class="col">
                          <label for="statusNote">Reason for change - <strong>Required</strong></label>
                          <input type="text" name="statusNote" #statusNote id="statusNote"
                            (keyup)="captureStatusReasonInput(statusNote.value)" formControlName="statusNote"
                            class="form-control" required placeholder="Enter">
                          <div
                            *ngIf="milestoneFormGroup.controls['statusNote'].invalid
                              && (milestoneFormGroup.controls['statusNote'].touched || milestoneFormGroup.controls['statusNote'].dirty)">
                            <div class="error-message">
                              Field cannot be blank
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div>
                            <label for="status">Select a status</label>
                            <select formControlName="status" class="form-control" id="status" name="status">
                              <option [disabled]="!milestoneFormGroup.valid"
                                *ngFor="let milestone of milestoneSelectionList" [value]="milestone.value">
                                {{milestone['viewValue']}}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <button [disabled]="!milestoneFormGroup.valid" class="btn special-button"
                            (click)="changeMilestoneToSelected()">
                            Change Status</button>
                        </div>
                      </div>
                    </section>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <div class="row summary-card-row-adjust">
          <div class="summary-item">
            <label class="top-item-label">Name</label>
            <span class="bottom-item-label" *ngIf="summary">{{summary['clientName'] | titlecase}}</span>
          </div>
          <div class="summary-item">
            <label class="top-item-label">Service Request ID</label>
            <span class="bottom-item-label" *ngIf="summary">{{summary['serviceRequestId']}}</span>
          </div>
          <div class="summary-item" *ngIf="!summary['psohpCode']">
            <label class="top-item-label">Service</label>
            <span class="bottom-item-label" *ngIf="summary">{{summary['psohpService']}}</span>
          </div>
          <div class="summary-item" *ngIf="!summary['psohpService']">
            <label class="top-item-label">Assessment</label>
            <span class="bottom-item-label" *ngIf="summary">{{summary['psohpCode']}}</span>
          </div>
          <div class="summary-item">
            <label class="top-item-label">Employee PRI</label>
            <span class="bottom-item-label" *ngIf="summary">{{summary['employeePRI']}}</span>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <h6 class="col-3">Actions</h6>
    <h6 class="col-5">Work List</h6>
    <h6 class="col-4">History</h6>
  </div>



  <div class="row">
    <!-- 3. Right fixed section -->

    <div class="col-3">
      <!-- 3a. Status of Care Plan -->

      <!-- 3b. Summary: Client information -->
      <!-- <div stickyThing marginTop="30" [spacer]="spacer"> -->

      <div class="card">
        <div class="card-body">
          <label class="card-title"><strong>Assigned Admin(s)</strong></label>
          <p>{{assignedAdmin}}</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <label class="card-title"><strong>Functions</strong></label>
          <button class="btn milestone-menu-button margin-top" style="min-width: 100%"
            (click)="openTaskForm()">Tasks</button>
          <button class="btn milestone-menu-button margin-top" style="min-width: 100%"
            (click)="openNoteForm()">Notes</button>
          <button class="btn milestone-menu-button margin-top" style="min-width: 100%"
            (click)="redirectToLabRequisition()">Requisitions</button>
          <button class="btn milestone-menu-button margin-top" style="min-width: 100%"
            (click)="redirectToAssessment()">Assessments</button>
          <button class="btn milestone-menu-button margin-top" style="min-width: 100%"
            (click)="redirectToAssessmentSelected('IMMUNIZATION')">Immunization</button>
          <button class="btn milestone-menu-button margin-top" style="min-width: 100%"
            (click)="redirectToAssessmentSelected('AUDIOGRAM')">Audiogram</button>
          <button class="btn milestone-menu-button margin-top" style="min-width: 100%"
            (click)="redirectToAssessmentSelected('DOCUMENTS')">Documents</button>
          <button class="btn milestone-menu-button margin-top" style="min-width: 100%"
            (click)="redirectToScheduler()">Appointments</button>
          <button class="btn milestone-menu-button margin-top" style="min-width: 100%"
            (click)="redirectToValidateScreen()">Validate Order</button>
          <button class="btn milestone-menu-button margin-top" style="min-width: 100%"
            (click)="redirectToCancelScreen()">Cancel
            Order</button>
        </div>
      </div>

      <div class="card" *ngIf="dependentList.length > 0">
        <div class="card-body">
          <label class="card-title"><strong>Dependent(s)</strong></label>
          <div *ngFor="let dependent of dependentList">
            <p class="card-text" *ngIf="dependent.dep_clientName">
              <strong>Name: </strong> {{dependent.dep_clientName}}
            </p>
            <p class="card-text dependentDOB" *ngIf="dependent.dep_clientDOB">
              <strong>Birth Date: </strong> {{dependent.dep_clientDOB}}
            </p>
          </div>
        </div>
      </div>
      <!-- </div> -->
    </div>


    <!-- 2. Care Plan section, shown only when needed -->

    <div class="col-5">
      <div class="search-box">
        <div class="text-center update-section">
          <div *ngIf="enableWorkListUpdate">
            <button class="btn special-button col-12 " (click)="enableWorkListUpdate = !enableWorkListUpdate">Update TO
              DO List</button>
          </div>
          <div *ngIf="!enableWorkListUpdate">
            <button class="btn regular-button function-buttons col-4 button-padding"
              (click)="cancelCarePlanUpdate()">Cancel
              Changes</button>
            <button class="btn regular-button function-buttons col-4 button-padding" (click)="saveCarePlan()">Save
              Changes</button>

          </div>
        </div>


        <div *ngFor="let item of carePlanActivities; let i = index">
          <label>
            <table>
              <tr>
                <td> <input type="checkbox" [(ngModel)]="item.value" (change)="onChecklistChange(i)"
                    [disabled]='enableWorkListUpdate' id="i"></td>
                <td class="checklist-desc"> <span class="checklist-label">{{item.description}}</span></td>

              </tr>
            </table>


          </label>
        </div>
      </div>
      <!-- </div> -->
    </div>

    <!-- 1. History -->
    <div class="col-4">
      <div class="tabs-card">
        <div id="tabs" #tabs>
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link active" [ngClass]="{ 'active':activeTab==='all'}" (click)="displayAll()"
                data-toggle="tab">All</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{ 'active':activeTab==='task'}" data-toggle="tab"
                (click)="displayOnlyTasks()">Tasks</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{ 'active':activeTab==='notes'}" data-toggle="tab"
                (click)="displayOnlyNotes()">Notes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{ 'active':activeTab==='documents'}" data-toggle="tab"
                (click)="displayOnlyDocs()">Docs</a>
            </li>

          </ul>

        </div>
      </div>
      <div *ngIf="showNoteForm">
        <form [formGroup]="noteFormGroup" novalidate>
          <section class="form-section">

            <label for="title">Note Title</label>
            <input type="text" name="title" id="title" formControlName="title" class="form-control" required
              placeholder="Enter Note Title">

            <label for="note">Note</label>
            <input type="text" name="note" id="note" formControlName="note" class="form-control note" required
              placeholder="Enter Notes">

          </section>

          <section class="form-buttons">
            <button class="btn special-button" (click)="saveNotes()">Save</button>
            <button class="btn special-button" (click)="showNoteForm = !showNoteForm">Cancel</button>
          </section>
        </form>
        <hr>
      </div>
      <!-- Task Form -->
      <div *ngIf="showTaskForm">
        <!-- Task Form -->
        <form [formGroup]="taskFormGroup" novalidate>

          <section class="form-section">
            <div class="row">
              <div class="col">
                <label for="description">Task</label>
                <input type="text" name="description" id="description" formControlName="description"
                  class="form-control" required placeholder="Enter">
                <div
                  *ngIf="taskFormGroup.controls['description'].invalid
                             && (taskFormGroup.controls['description'].touched || taskFormGroup.controls['description'].dirty)">
                  <div class="error-message">
                    Title cannot be empty
                  </div>
                </div>
              </div>
            </div>

            <div class="row" *ngIf="practitioners.length > 0">
              <div class="col">
                <label for="assignTo">Assign To</label>
                <select name="assignTo" id="assignTo" formControlName="assignTo" class="form-control" required>
                  <option *ngFor="let practitioner of practitioners" [value]="practitioner.id">
                    <span *ngFor="let name of practitioner.name">{{name.given}} {{name.family}} </span>
                  </option>
                </select>
                <div
                  *ngIf="taskFormGroup.controls['assignTo'].invalid
                             && (taskFormGroup.controls['assignTo'].touched || taskFormGroup.controls['assignTo'].dirty)">
                  <div class="error-message">
                    Assignee cannot be empty
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <label for="instruction">Instructions</label>
                <input type="text" name="instruction" id="instruction" formControlName="instruction"
                  class="form-control" required placeholder="Enter">
                <div
                  *ngIf="taskFormGroup.controls['instruction'].invalid
                             && (taskFormGroup.controls['instruction'].touched || taskFormGroup.controls['instruction'].dirty)">
                  <div class="error-message">
                    Instructions cannot be blank
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="form-buttons">
            <button class="btn special-button" (click)="saveTask()" [disabled]="!taskFormGroup.valid">
              Create Task</button>
            <button class="btn special-button" (click)="showTaskForm = !showTaskForm"
              [disabled]="taskFormGroup.valid">Cancel</button>
          </section>

        </form>
        <hr>
      </div>

      <!-- Showing History -->
      <div id="accordian">
        <div class="card" *ngFor="let item of historyToDisplay;let i = index;">
          <div class="card-body ">
            <div class="card-title">
              <a href="#itemId{{i}}" *ngIf="item.type === 'doc'" class="remove-link-colour"
                data-toggle="collapse">Document:
                {{item['fileFullName']}}</a>
              <a href="#itemId{{i}}" *ngIf="item.type !== 'doc'" class="remove-link-colour"
                data-toggle="collapse">{{item.title}}</a>
              <font class="task-status" *ngIf="item.type==='task'">{{item.status | titlecase}}</font>
            </div>

            <div class="collapse" id="itemId{{i}}">
              <p class="card-text" *ngIf="item.note && item.type!=='task' && item.type !=='doc'">
                {{item.note}}
              </p>
              <p class="card-text" *ngIf="item.author">
                <strong>Author: </strong>{{item.author}}
              </p>
              <p class="card-text" *ngIf="item.description">
                <strong>Instructions: </strong>{{item.description}}
              </p>
              <p class="card-text" *ngIf="item.assignee">
                <strong>Assignee: </strong>{{item.assignee}}
              </p>
              <p class="card-text" *ngIf="item.assignor">
                <strong>Assignor: </strong>{{item.assignor}}
              </p>
              <p class="card-text" *ngIf="item.dateCreated">
                <strong>Date created: </strong>{{item.dateCreated}}
              </p>
              <p class="card-text" *ngIf="item.note && item.type==='task'">
                <strong>Instructions: </strong>{{item.note}}
              </p>
              <p class="card-text" *ngIf="item.type==='doc'">
                <strong>Filename: </strong>
                <span class="cursor" (click)="downloadFile(item)">
                  {{item['fileFullName']}} ↓
                </span>
              </p>
              <p class="card-text" *ngIf="item.type==='doc'">
                <span class="cursor">
                  <strong></strong>
                </span>
              </p>
              <p class="card-text" *ngIf="item.type==='doc' && item['filetype'] === 'pdf'">
                <span class="cursor">
                  <strong (click)="previewFile(item)">Preview {{item['fileFullName']}}</strong>
                </span>
              </p>
              <p class="card-text" *ngIf="item.closingNotes">
                <strong>Closing Notes: </strong>{{item.closingNotes}}
              </p>
              <div class="card-link">
                <a *ngIf="item.type==='task' && item.status==='in-progress'" (click)="completeTask(i)">Mark as done</a>

                <a *ngIf="item.type==='task' && item.status==='Assigned - Waiting' && !item.showActivity && !item.note"
                  (click)="item.showActivity=true">Mark as done</a>
                <div *ngIf="item.showActivity">

                  <label><strong>Closing notes: </strong></label>
                  <input type="text" [(ngModel)]="item.closingNotes" class="form-control activity"
                    placeholder="Closing notes">
                  <div class="activity-buttons">
                    <a (click)="completeClinicalAssignment(item)">Save</a>
                    <a *ngIf="item.type==='task' && item.status==='Assigned - Waiting' && item.showActivity"
                      (click)="item.showActivity=false" class="cancel-activity">Cancel</a>
                  </div>

                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>



  </div>


</div>