

.card-title {
  font-size: 15px;
}






.left-style {
    float: left;
    width: 48.5%;
}

.right-style {
    float: right;
    width: 48.5%;
}

.row {
    margin-top: 20px;
}

.fixed-old {
    position: sticky;
    top: 0;
    z-index: 999;
}

.fixed {
    position: fixed;
}

.scrollit {
    float: left;
}

.search-box {
    padding: 30px;
    border-radius: 3px;
    box-shadow: 0 2px 6px 0 rgba(181, 181, 181, 0.5);
    background-color: #ffffff;
}

.card {
    margin-bottom: 5px;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(215, 215, 215, 0.5);
    background-color: #ffffff;
}

// div.card:nth-child(even) {
//     background: rgb(74, 175, 28);
// }
// div.card:nth-child(odd) { 
//     background: rgb(71, 164, 207);
// }

.tools {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
    background-color: white;
    border: 1px solid #dee2e6;
}

.tool-item a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.tool-item a:hover {
    background-color: lightgray;
    // color: white;
    cursor: pointer;
}

.special-button {
    background-color: #398ef2;
    color: white;
}

.form-buttons {
    margin-bottom: 15px;
}

.form-section {
    padding-bottom: 40px;
}

.note {
    height: 90px;
}

.summary {
    width: 25%;
    position: fixed;
}

.careplan {
    width: 33.333333%;
    position: fixed;
}

.tool-button {
    width: 150px;
}

.checklist-label {
    // margin-left: 10px;
    font-size: 11px;
    text-align: justify;
}

.checklist-desc {
  padding-left: 7px;
}

.nav-pills {
    background-color: white;
}

.nav-link {
    color: #8a8a8a;
    background-color: white;
}

.nav-item a {
    color: #8a8a8a;
    background-color: white;
}

.nav-item a:hover {
    color: black;
    cursor: pointer;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: black;
    border-bottom: 4px solid #7fd6ed;
}

hr {
    margin-top: 25px;
    margin-bottom: 25px;
    border: 1px solid #398ef2;
}

.task-status {
    float: right;
    color: #5aa107;
}

.card-link a {
    color: #398ef2;
    cursor: pointer;
}

.dropdown-item {
    color: black;
    cursor: pointer;
}

button {
    outline: none;
}

.select-clinician {
    width: 220px;
    margin-left: 10px;
}

.assign-clinician {
    position: relative;
    top: 50%;
    left: 50%;
}

.cancel-activity {
    margin-left: 15px;
}

.activity {
    margin-top: 10px;
}

.activity-buttons {
    margin-top: 10px;
}

.main-header {
    margin-bottom: 40px;
}

.assign-buttons {
    margin-top: 10px;
}

.clinician {
    padding-right: 250px;
}

.tabs-card {
    width: 100%;
    padding-bottom: 7px;
}

.new-function-button {
    border-radius: 2px;
    background-color: #ffffff;
    color: #398ef2;
    font-size: 13px;
    border: 1px solid #398ef2;
    margin: 5px 0px 0px 8px;
}

.hidden {
    display: none;
}

.remove-link-colour {
    color: black;
}

.conatiner {
    min-width: 90% !important;
}

.main-header {
    width: 100%;
}


.clinical-button-list {
    width: 184px;
    height: 45px;
    margin-left: 26px;
    border-radius: 22.5px;
    color: white;
    background-color: #398ef2
}

.dependentDOB {
    padding: 0 0 21px 0;
    margin: -14px 0 0 0;
}

.bar{
    background-color: blueviolet;
    height: 100%;
}


:host{
    display: block;
    height: 100%;
}

.clinician-box-label {
    margin-left: 11px;
}

.button-padding {
  margin: 5px;
}

.update-section {
  margin-bottom: 20px;
}

.function-buttons {
  background-color: #3183f0;
  color: white;
}

.summary-top-card {
  min-width: 98%;
  margin-left: 9px;
  padding-top: 34px;
  padding-bottom: 15px;
}

.summary-card-body {
  padding: 0px 0px 17px 32px;
}

.center-button {
  text-align:center
}


.milestone-formgroup-adjust {
  margin-left: 8px;
}

.summary-card-row-adjust {
  margin-left: 0px;
}

.summary-card-text {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.81;
  letter-spacing: normal;
  color:  #333333;
}

.milestone-menu {
  min-width: 83.5%;
}

.milestone-menu-button {
  border-radius: 2px;
    background-color: #ffffff;
    color: #398ef2;
    font-size: 13px;
    border: 1px solid #398ef2;
  padding: 6px 28px 6px 28px;
}

.timeline-row {
  width: 96%;
  border-bottom:  solid  #c4c4c4 3px;
  padding-top: 10px;
  margin-bottom: 30px;
}

.doc-list-section {
  padding-top: 10px;

  border-bottom:  solid  #c4c4c4 0.5px;
}

.hide-clinical-item {
  visibility: hidden;
}

.margin-top {
    margin-top: 10px;
}