<div class="container"  style="padding-top: 30px;" >
  <div class="main-audio-gram" >

    <div class="main-header" style="margin-top: 20px;margin-bottom: 50px;">
      <span class="float-left">
        <h5>Audiogram Function</h5>
      </span>
      <span class="float-right">
        <button  class="btn regular-dark-button float-right" type="button" (click)="redirectToWorkSceen()">View Detailed Context</button>
      </span>
    </div>

    <div class="shadow-box">
      <div class="audiogram-table">
        <table>
          <thead class="audiogram-table-header">
            <th class="audiogram-table-data-cells">Service Request Id</th>
            <th class="audiogram-table-data-cells">Client Name</th>
            <th class="audiogram-table-data-cells">Age</th>
            <th class="audiogram-table-data-cells">Department</th>
            <th class="audiogram-table-data-cells">Location</th>
          </thead>
          <tbody class="audiogram-table-body" *ngIf="patient">
            <td class="audiogram-table-data-cells">{{serviceRequest.id}}</td>
            <td class="audiogram-table-data-cells">{{patient.name}}</td>
            <td class="audiogram-table-data-cells">{{calculateAge(patient.dob)}}</td>
            <td class="audiogram-table-data-cells">{{patient.workplace}}</td>
            <td class="audiogram-table-data-cells">{{patient.branch}}</td>
          </tbody>
        </table>
      </div>
    </div>


    <div class="historical-div">
      <span class="float-left">
        <h6 class="historical-header">Historical Information</h6>
      </span>
      <div class="float-right">
        <button class="btn cancel-btn float-right" type="button" (click)="redirectToNewAudiogram()" >Create New Result</button>
      </div>
    </div>

    <div class="historical-table-main m-t-10">
      <div class="shadow-box-no-padding">

        <div class="historical-table">
          <table>
            <thead class="historical-table-header">
              <th class="historical-table-data-cells">Date of Test</th>
              <th class="historical-table-data-cells">Service Request #</th>
              <th class="historical-table-data-cells">Baseline</th>
              <th class="historical-table-data-cells"> </th>
            </thead>
            <tbody class="historical-table-body">
              <tr>
                <td class="historical-table-data-cells">Yes</td>
                <td class="historical-table-data-cells">XYZABC</td>
                <td class="historical-table-data-cells">000000</td>
                <td class="historical-table-data-cells">
                  <a class="view-link" >View</a>
                </td>
                </tr>
              <tr>
                <td class="historical-table-data-cells">Yes</td>
                <td class="historical-table-data-cells">XYZABC</td>
                <td class="historical-table-data-cells">000000</td>
                <td class="historical-table-data-cells">
                  <a class="view-link" >View</a>
                </td>
              </tr>
              <tr>
                <td class="historical-table-data-cells">Yes</td>
                <td class="historical-table-data-cells">XYZABC</td>
                <td class="historical-table-data-cells">000000</td>
                <td class="historical-table-data-cells">
                  <a class="view-link" >View</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>