<div class="main-header">
  <h5>Service Request Summary Page</h5>
  <h6>service request > Service Request Summary Page > {{serviceRequestID}}</h6>
</div>
<div *ngIf="serviceRequestObject.length > 0 && !showSuccessMessage && serviceRequestID">
  <div class="button-section">
    <button (click)="deleteServiceRequest()" class="btn special-button">
      Delete
    </button>
    <button (click)="redirectToServiceRequestMainPage()" class="btn special-button back-button">
      Back to Service Requests page
    </button>
  </div>
  <div *ngFor="let patientDetails of patient; let i = index" [ngClass]="{'left-style': i%2 != 0, 'right-style': i%2 === 0 }">
      <div class="col-md-6">
        <label class="label-name">{{patientDetails.name | titlecase}}</label>
        <input disabled=true class="form-control field-box-name" placeholder="{{patientDetails.value | titlecase}}"/>
      </div>
  </div>
  <div *ngFor="let item of serviceRequestObject; let x = index">
    <div class="col-md-6" [ngClass]="{'left-style': x%2 != 0, 'right-style': x%2 === 0 }">
      <label class="label-name">{{item.name | titlecase}}</label>
      <input disabled=true class="form-control field-box-name" placeholder="{{item.value | titlecase}}"/>
    </div>
  </div>
</div>
<div *ngIf="showSuccessMessage && serviceRequestID">
  <div class="alert alert-success">
    <strong>Service Request: {{serviceRequestID}} Deleted Successfully</strong> 
  </div>
  <div class="button-section">
    <button (click)="redirectToServiceRequestMainPage()" class="btn special-button back-button">
      Back to Service Requests page
    </button>
  </div>
</div>
<div *ngIf="!serviceRequestID">
  <div class="button-section">
    <button (click)="redirectToServiceRequestMainPage()" class="btn special-button back-button">
      Back to Service Requests page
    </button>
  </div>
</div>