<div class="container">
    <div class="main-header">
        <h5>Service Request Summary Page</h5>
        <h6>service request > Service Request Summary Page > {{serviceRequestID}}</h6>
    </div>
    <div *ngIf="serviceRequestObject.length > 0 && !showSuccessMessage && serviceRequestID">
        <div class="button-section">
            <button (click)="deleteServiceRequest()" class="btn special-button">
                Delete
            </button>
            <button (click)="redirectToServiceRequestMainPage()" class="btn special-button back-button">
                Back to Service Requests page
            </button>
        </div>

        <!-- <div *ngFor="let item of serviceRequestObject; let x = index">
    <div [ngClass]="{'left-style': x%2 != 0, 'right-style': x%2 === 0 }">
      <label class="label-name">{{item.name | titlecase}}</label>
      <input disabled=true class="form-control field-box-name" placeholder="{{item.value | titlecase}}"/>
    </div>
  </div> -->
        <section class="form-section">
            <div class="row">
                <div class="col-6">
                    <label class="label-name">Service Request Id</label>
                    <input disabled=true placeholder="{{ newArr.ServiceRequestId }}" class="form-control field-box-name">
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <label class="label-name">First Name</label>
                    <input disabled=true placeholder="{{ newArr.FirstName }}" class="form-control field-box-name">
                </div>
                <div class="col-6">
                    <label class="label-name">Last Name</label>
                    <input disabled=true placeholder="{{ newArr.LastName }}" class="form-control field-box-name">
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <label class="label-name">Date of Birth</label>
                    <input disabled=true placeholder="{{ newArr.DateofBirth }}" class="form-control field-box-name">
                </div>
                <div class="col-6">
                    <label class="label-name">Employee PRI</label>
                    <input disabled=true placeholder="{{ newArr.EmployeePRI }}" class="form-control field-box-name">
                </div>
            </div>
        </section>
        <section class="form-section">
            <div class="row">
                <div class="col-6">
                    <label class="label-name">PSOHP Service</label>
                    <input disabled=true placeholder="{{ newArr.PSOHPService }}" class="form-control field-box-name">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label class="label-name">Employing Department Branch</label>
                    <input disabled=true placeholder="{{ newArr.EmployingDepartmentBranch }}" class="form-control field-box-name">
                </div>
                <div class="col-6">
                    <label class="label-name">Employing Department Name</label>
                    <input disabled=true placeholder="{{ newArr.EmployingDepartmentName }}" class="form-control field-box-name">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label class="label-name">Submitting Department</label>
                    <input disabled=true placeholder="{{ newArr.SubmittingDepartment }}" class="form-control field-box-name">
                </div>
                <div class="col-6">
                    <label class="label-name">Receiving Department</label>
                    <input disabled=true placeholder="{{ newArr.ReceivingDepartment }}" class="form-control field-box-name">
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <label class="label-name">Regional Office for Processing</label>
                    <input disabled=true placeholder="{{ newArr.RegionalOfficeforProcessing }}" class="form-control field-box-name">
                </div>
                <div class="col-6">
                    <label class="label-name">Job Title</label>
                    <input disabled=true placeholder="{{ newArr.JobTitle }}" class="form-control field-box-name">
                </div>
            </div>

        </section>
        <section class="form-section">

            <div class="row">
                <div class="col-6">
                    <label class="label-name">Instructions regarding the request</label>
                    <input disabled=true placeholder="{{ newArr.Instructionsregardingtherequest }}" class="form-control field-box-name">
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <label class="label-name">OHAG Occupation</label>
                    <input disabled=true placeholder="{{ newArr.OHAGOccupation }}" class="form-control field-box-name">
                </div>
                <div class="col-6">
                    <label class="label-name">OHAG Environment Modifier</label>
                    <input disabled=true placeholder="{{ newArr.OHAGEnvironmentModifier }}" class="form-control field-box-name">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label class="label-name">OHAG Exposure Modifier</label>
                    <input disabled=true placeholder="{{ newArr.OHAGExposureModifier }}" class="form-control field-box-name">
                </div>
            </div>


        </section>
        <section class="form-section">

            <div class="row">
                <div class="col-6">
                    <label class="label-name">Note for Employee availability for appointment</label>
                    <input disabled=true placeholder="{{ newArr.NoteforEmployeeavailabilityforappointment }}" class="form-control field-box-name">
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <label class="label-name">Instructions regarding the request</label>
                    <input disabled=true placeholder="{{ newArr.Instructionsregardingtherequest }}" class="form-control field-box-name">
                </div>
                <div class="col-6">
                    <label class="label-name">Status</label>
                    <input disabled=true placeholder="{{ newArr.status }}" class="form-control field-box-name">
                </div>
            </div>
        </section>

        <section class="form-section" *ngIf="documentForServiceRequest">
            <div class="col-12-custom">
                <h6>documents</h6>
 
                <div>
                    <table class="table">
                        <thead class="header-table">
                            <tr>
                                <th scope="col">#ID</th>
                                <th scope="col">Date</th>
                                <th scope="col">Document Name</th>
                                <th scope="col">Document Type</th>
                                <th scope="col">File Type</th>
                                <th scope="col">File Size</th>
                                <th scope="col"></th>
                                <th scope="col"></th>

                            </tr>
                        </thead>
                        <tbody class="body-table">

                            <tr *ngFor="let doc of documentForServiceRequest" >
                                <td>{{doc['id']}}</td>
                                <td>{{doc['content'][0]['attachment']['creation'] | date:
                                    'dd/MM/yyyy'}}</td>
                                <td class="cursor" (click)="downloadFile(doc)">{{doc['content'][0]['attachment']['title']}}</td>
                                <td>Medical Note</td>
                                <td>{{doc['content'][0]['attachment']['contentType']}}</td>
                                <td>{{doc['content'][0]['attachment']['size'] }}</td>
                            </tr>

                        </tbody>

                    </table>
                </div>
            </div>
        </section>

    </div>
    <div *ngIf="showSuccessMessage && serviceRequestID">
        <div class="alert alert-success">
            <strong>Service Request: {{serviceRequestID}} Deleted Successfully</strong>
        </div>
        <div class="button-section">
            <button (click)="redirectToServiceRequestMainPage()" class="btn special-button back-button">
                Back to Service Requests page
            </button>
        </div>
    </div>
    <div *ngIf="!serviceRequestID">
        <div class="button-section">
            <button (click)="redirectToServiceRequestMainPage()" class="btn special-button back-button">
                Back to Service Requests page
            </button>
        </div>
    </div>
</div>