.toolbar {
    background-color: #335075;
}

#content-form {

    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    text-align: center;
    justify-content: center;
    
}
.form-field {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.row {

}

.formButton {
    border-radius: 4px;
    border: 1px solid transparent;
}

#new-account-btn {
    background-color: #335075;
    /* border-radius: 4px; */
}


td {
    width: 200px
}


.employee-button {
    width: 239px;

    height: 45px;
  
    border-radius: 2px;
  
    border: solid 1px #d5d5d5;
  
    background-color: #ffffff;
    
    margin-bottom: 30px;
}

.table {
    width: 1208px;

    /* height: 242px; */
  
    border-radius: 2px;
  
    border: solid 0.7px;
}

.header-table {
    background-color: #c4c4c4;
}

.search-box {  
    
    width: 1208px;

    height: 433px;
  
    border-radius: 2px;
  
    border: solid 0.7px;

    background-color: #f8f8f8;

  
}

.search-button {
    width: 158px;

    height: 35px;
  
    border-radius: 2px;
  
    background-color: rgba(0, 0, 0, 0.11);

    margin-top: 40px;

}

.field-box {
    
    width: 490px;

    height: 45px;
  
    border-radius: 2px;
  
    /* background-color: #f8f8f8; */

    border: solid 0.7px ;

}

.center-align {

    text-align: left;
    justify-content: center;
    display: flex;

}

.label-name {
    margin-top: 20px;
}
