<div class="container">
  <div class="main-header">
    <h5>Search Client</h5>
    <h6>client department > client</h6>
  </div>
  <div>
    <div class="search-box">
      <form class="center-align">
        <div class="form-group">
          <div class="form-group-search">

            <div class="row ">

              <div class="col">
                <label for="firstName" class="label-name">First Name</label>
                <input type="text" name="firstName" id="firstName" class="form-control 
                    field-box-name" placeholder="Enter" [(ngModel)]="givenName.data">
              </div>
              <div class="col">
                <label for="familyName" class="label-name">Last Name</label>
                <input type="text" name="familyName" id="familyName" class="form-control 
                      field-box-name" placeholder="Enter" [(ngModel)]="familyName.data">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="clientid" class="label-name">Employee PRI</label>
                <input type="text" name="clientid" id="clientid" class="form-control" placeholder="Enter"
                  [(ngModel)]="clientId.data">
              </div>
              <div class="col">
                <label for="dob" class="label-name">Date of Birth</label>
                <!-- <input class="form-control" [ngModel]="dateOfBirth.data | date:'yyyy-MM-dd'" (ngModelChange)="dateOfBirth.data = $event"
                  type="date" name="dob" /> -->

                <input type="text" class="form-control" placeholder="Datepicker" [(bsValue)]="dateOfBirth.data" id="dob"
                  bsDatepicker [bsConfig]='datePickerConfig' [minDate]="minDate" [maxDate]="maxDate">
              </div>
            </div>
            <div class="row">

              <div class="col">
                <label for="department" class="label-name">Client Department</label>
                <select class="form-control" [(ngModel)]="clientDepartment" (ngModelChange)="clientDepartment = $event"
                  name="department" (change)="change(clientDepartment)">
                  <option [ngValue]="null">Select</option>
                  <option *ngFor="let department of listOfDepartments" [value]="department.id">
                    {{department.name}}
                  </option>
                </select>
              </div>

              <div class="col">
                <label for="branch" class="label-name">Branch</label>
                <select class="form-control" [(ngModel)]="branch" (ngModelChange)="branch = $event" name="branch">

                  <option [ngValue]="null">Select</option>
                  <option *ngFor="let eachBranch of listOfBranches" [value]="eachBranch.value">
                    {{eachBranch.text}}
                  </option>
                </select>
              </div>

            </div>
          </div>
          <button type="submit" class="btn regular-dark-button" (click)="dataSearch()">Search</button>
          <button type="button" class="btn regular-button" (click)="refreshSearch()">Refresh Search</button>

        </div>
      </form>
    </div>
    <!-- List of Clients  -->



    <div>
      <!-- <div *ngIf="doNotShowZeroMessage"> -->
      <h5>Clients</h5>

      <!-- <div>


          <div class="client-button-row" [ngClass]="roleInSession">
          <div>
            <div class="col">
              <button *ngIf="!enableAll" type="button" id="new-client-button" class="btn  float-right regular-dark-button "
                (click)="enableAllFunction()">Show
                All Records
              </button>
              <button *ngIf="enableAll" type="button" id="new-client-button" class="btn  float-right regular-dark-button "
                (click)="enableAllFunction()">Hide
                All Records
              </button>
            </div>
          </div>
          <div class="col">
            <div class="button-section" [ngClass]="roleInSession">
              <button type="button" class="btn  float-right regular-dark-button show-all-records-button" (click)="newEmployeeButton()">New
                Client Record
              </button>
            </div>
          </div>
        </div>


      </div> -->



      <div [ngClass]="roleInSession">
        <div class="button-section">
          <div class="row">
            <div class="col">
              <span *ngIf="doNotShowZeroMessage">
                <button *ngIf="!enableAll" type="button" class="btn regular-dark-button float-right"
                  style="margin-left: 15px;" (click)="enableAllFunction()">Show
                  All Records
                </button>
                <button *ngIf="enableAll" type="button" class="btn regular-dark-button float-right"
                  style="margin-left: 15px;" (click)="enableAllFunction()">Hide
                  All Records
                </button>

              </span>
              <span [ngClass]="roleInSession">
                <button type="button" class="btn regular-dark-button float-right" (click)="newEmployeeButton()">New
                  Client Record
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>




      <div class="table-container" *ngIf="doNotShowZeroMessage">
        <table class="table table-hover table-custom">
          <!-- <table class="table table-hover"> -->
          <thead class="header-table ">
            <tr>
              <th scope="col" (click)="sorterFunction('id')">Record ID</th>
              <th scope="col" (click)="sorterFunction('firstName')">First Name</th>
              <th scope="col" (click)="sorterFunction('lastName')">Last Name</th>
              <th scope="col" (click)="sorterFunction('dateOfBirth')">Date of Birth</th>
              <th scope="col" (click)="sorterFunction('clientType')">Client Type</th>
              <th scope="col" (click)="sorterFunction('department')" style="width:390px">
                Department</th>
              <th scope="col" (click)="sorterFunction('branch')">Branch</th>
            </tr>
          </thead>
          <tbody class="body-table">
            <ng-container *ngFor="let patient of clients">
              <ng-container *ngIf="!enableAll; else showAll">
                <tr *ngIf="patient['department'] === departmentOfUser && !enableAll">

                  <ng-container *ngIf="roleInSession !== 'businessuser'; else plainId">
                    <td (click)="routeToSummary(patient)" [ngClass]="{cursor: showCursor(patient)}">
                      {{patient.id}}</td>
                  </ng-container>

                  <ng-template #plainId>
                    <td>{{patient.id}}</td>
                  </ng-template>


                  <ng-container *ngIf="roleInSession !== 'businessuser'; else plainFirstName">
                    <td (click)="routeToSummary(patient)" [ngClass]="{cursor: showCursor(patient)}">
                      {{patient.firstName}}</td>
                  </ng-container>

                  <ng-template #plainFirstName>
                    <td>{{patient.firstName}}</td>
                  </ng-template>




                  <ng-container *ngIf="roleInSession !== 'businessuser'; else plainLastName">
                    <td (click)="routeToSummary(patient)" [ngClass]="{cursor: showCursor(patient)}">
                      {{patient.lastName}}</td>
                  </ng-container>

                  <ng-template #plainLastName>
                    <td>{{patient.lastName}}</td>
                  </ng-template>




                  <td>{{patient.dateOfBirth | date: 'dd/MM/yyyy'}}</td>
                  <td>{{patient.clientType}}</td>
                  <td>{{patient.department}}</td>
                  <td>{{patient.branch}}</td>

                </tr>

              </ng-container>

              <ng-template #showAll>
                <!-- <ng-container  *ngFor="let patient of patientList"> -->
                <tr>


                  <td *ngIf="roleInSession !== 'businessuser' ; else plainId" (click)="routeToSummary(patient)"
                    [ngClass]="{cursor: showCursor(patient)}">
                    {{patient.id}}</td>


                  <ng-template #plainId>
                    <td>{{patient.id}}</td>
                  </ng-template>


                  <td *ngIf="roleInSession !== 'businessuser' ; else plainFirstName" (click)="routeToSummary(patient)"
                    [ngClass]="{cursor: showCursor(patient)}">

                    {{patient.firstName}}</td>
                  <ng-template #plainFirstName>
                    <td>{{patient.firstName}}</td>
                  </ng-template>

                  <td *ngIf="roleInSession !== 'businessuser'; else plainLastName" (click)="routeToSummary(patient)"
                    [ngClass]="{cursor: showCursor(patient)}">
                    {{patient.lastName}}</td>
                  <ng-template #plainLastName>
                    <td>{{patient.lastName}}</td>
                  </ng-template>

                  <td>{{patient.dateOfBirth | date: 'dd/MM/yyyy'}}</td>
                  <td>{{patient.clientType}}</td>
                  <td>{{patient.department}}</td>
                  <td>{{patient.branch}}</td>
                </tr>
                <!-- </ng-container> -->


              </ng-template>
            </ng-container>
          </tbody>
        </table>

      </div>
      <div *ngIf="!doNotShowZeroMessage">
        <h6>0 Results Found for "{{showParams}}"</h6>
      </div>
    </div>

  </div>
</div>