<br />
<h3>Search Client</h3>
<br />
<div class="search-box">
  <form class="center-align">
    <div class="form-group">
      <div class="row ">
        <div class="col-12">
          <label for="firstname" class="label-name">First Name</label>
          <input type="text" (keypress)="nameSearch($event)"  name="firstname" id="firstname" class="form-control field-box-name" placeholder="Enter">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="clientid" class="label-name">Client ID</label>
          <input type="text" name="clientid" id="clientid" class="form-control field-box" placeholder="Enter">
        </div>
        <div class="col">
          <label for="dob" class="label-name">Date of Birth</label>
          <input type="text" (input)="dateSearch($event)" name="dob" id="dob" class="form-control field-box" placeholder="Enter">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="region" class="label-name">Region</label>
          <input type="text" name="region" id="region" class="form-control field-box" placeholder="Enter">
        </div>
        <div class="col">
          <label for="department" class="label-name">Client Department</label>
          <input type="text" name="department" id="department" class="form-control field-box" placeholder="Enter">
        </div>
      </div>
      <button type="button" class="btn search-button">Search</button>

    </div>
  </form>
</div>
<!-- List of Clients  -->
<br />
<h3>Clients</h3>
<br />
<button type="button" class="btn employee-button" (click)="newEmployeeButton()"> + New Employee Record</button>
<br />

<table class="table ">
  <thead class="header-table">
    <tr>
      <th scope="col">Employee #ID</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Date of Birth</th>
      <th scope="col">Dependents</th>
      <th scope="col">Client Type</th>
      <th scope="col">Department</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let q of qrequest ">
      <td>{{q.resource.id}}</td>
      <td *ngFor="let name of q.resource.name">{{name.given}}</td>
      <td *ngFor="let name of q.resource.name">{{name.family}}</td>
      <td>{{q.resource.birthDate | date: 'dd/MM/yyyy'}}</td>
      <td *ngIf="q.resource.link">
        1
      </td>
      <!-- <td>{{q.}}</td>
      <td>{{q.}}</td>
      <td>{{q.}}</td>
      <td>{{q.}}</td> -->

    </tr>
  </tbody>
</table>