<div class="container">
  <div class="main-header">
    <h5>Search Client</h5>
    <h6>client department > client</h6>
  </div>
  <div>
    <div class="search-box">
      <form class="center-align">
        <div class="form-group">
          <div class="form-group-search">

            <div class="row ">

              <div class="col">
                <label for="firstName" class="label-name">First Name</label>
                <input type="text" name="firstName" id="firstName" class="form-control 
                    field-box-name"
                  placeholder="Enter" [(ngModel)]="givenName.data">
              </div>
              <div class="col">
                <label for="familyName" class="label-name">Last Name</label>
                <input type="text" name="familyName" id="familyName" class="form-control 
                      field-box-name"
                  placeholder="Enter" [(ngModel)]="familyName.data">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="clientid" class="label-name">Employee PRI</label>
                <input type="text" name="clientid" id="clientid" class="form-control" placeholder="Enter" [(ngModel)]="clientId.data">
              </div>
              <div class="col">
                <label for="dob" class="label-name">Date of Birth</label>
                <!-- <input class="form-control" [ngModel]="dateOfBirth.data | date:'yyyy-MM-dd'" (ngModelChange)="dateOfBirth.data = $event"
                  type="date" name="dob" /> -->

                  <input type="text" class="form-control" placeholder="Datepicker" [(bsValue)]="dateOfBirth.data" id="dob" bsDatepicker
                [bsConfig]='datePickerConfig' [minDate]="minDate" [maxDate]="maxDate" red>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="region" class="label-name">Employee Type</label>
                <select class="form-control" [(ngModel)]="employeeType" (ngModelChange)="employeeType = $event" name="employeeType">
                  <option [ngValue]="null">Select Type</option>
                  <option *ngFor="let employeeType of employeeTypeArray" [value]="employeeType">
                    {{employeeType}}
                  </option>
                </select>
              </div>
              <div class="col">
                <label for="department" class="label-name">Client Department</label>
                <select class="form-control" [(ngModel)]="clientDepartment" (ngModelChange)="clientDepartment = $event"
                  name="department">
                  <option [ngValue]="null">Select Department</option>
                  <option *ngFor="let department of listOfDepartments" [value]="department">
                    {{department}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <button type="submit" class="btn regular-dark-button" (click)="employeeSearch()">Search</button>
          <!-- <button type="button" class="btn regular-button" (click)="refreshSearch()">Refresh Search</button> -->

        </div>
      </form>
    </div>
    <!-- List of Clients  -->

    <div *ngIf="patientList.length > 0">
      <h5>Clients</h5>

      <div>


        <div class="client-button-row" [ngClass]="roleInSession">
          <div>
            <div class="col">
              <button type="button" id="new-client-button" class="btn  float-right regular-dark-button "  (click)="enableAllFunction()">Show All Record</button>

            </div>
          </div>
          <div class="col">
            <div class="button-section" [ngClass]="roleInSession">
              <button type="button" class="btn  float-right regular-dark-button show-all-records-button " (click)="newEmployeeButton()">New Client Record</button>
            </div>
          </div>
        </div>


      </div>
      <div class="table-container">
        <table class="table table-hover table-custom">
          <!-- <table class="table table-hover"> -->
          <thead class="header-table ">
            <tr>
              <th scope="col" (click)="sorterFunction('id')">Employee ID</th>
              <th scope="col" (click)="sorterFunction('given')">First Name</th>
              <th scope="col" (click)="sorterFunction('family')">Last Name</th>
              <th scope="col" (click)="sorterFunction('dob')">Date of Birth</th>
              <th scope="col" (click)="sorterFunction('employeeType')">Client Type</th>
              <th scope="col" (click)="sorterFunction('department')" style="width:390px">
                Department</th>
              <th scope="col" (click)="sorterFunction('branch')">Branch</th>
            </tr>
          </thead>
          <tbody class="body-table">
            <ng-container *ngFor="let patient of patientList">
              <ng-container *ngIf="!enableAll; else showAll">
                <tr *ngIf="patient.department === departmentOfUser && !enableAll">
                  <td>{{patient.id}}</td>
                  <ng-container *ngIf="roleInSession !== 'businessuser'; else plainFirstName">
                    <td (click)="routeToSummary(patient)" [ngClass]="{cursor: showCursor(patient)}">

                      {{patient.given}}</td>
                  </ng-container>

                  <ng-template #plainFirstName>
                    <td>{{patient.given}}</td>
                  </ng-template>

                  <ng-container *ngIf="roleInSession !== 'businessuser'; else plainLastName">
                    <td (click)="routeToSummary(patient)" [ngClass]="{cursor: showCursor(patient)}">

                      {{patient.family}}</td>
                  </ng-container>

                  <ng-template #plainLastName>
                    <td>{{patient.family}}</td>
                  </ng-template>

                  <td>{{patient.dob | date: 'dd/MM/yyyy'}}</td>
                  <td>{{patient.employeeType}}</td>
                  <td>{{patient.department}}</td>
                  <td>{{patient.branch}}</td>

                </tr>

              </ng-container>

              <ng-template #showAll>
                <!-- <ng-container  *ngFor="let patient of patientList"> -->
                <tr>
                  <td>{{patient.id}}</td>
                  <td *ngIf="roleInSession !== 'businessuser' ; else plainFirstName" (click)="routeToSummary(patient)"
                    [ngClass]="{cursor: showCursor(patient)}">

                    {{patient.given}}</td>
                  <ng-template #plainFirstName>
                    <td>{{patient.given}}</td>
                  </ng-template>

                  <td *ngIf="roleInSession !== 'businessuser'; else plainLastName" (click)="routeToSummary(patient)"
                    [ngClass]="{cursor: showCursor(patient)}">
                    {{patient.family}}</td>
                  <ng-template #plainLastName>
                    <td>{{patient.family}}</td>
                  </ng-template>

                  <td>{{patient.dob | date: 'dd/MM/yyyy'}}</td>
                  <td>{{patient.employeeType}}</td>
                  <td>{{patient.department}}</td>
                  <td>{{patient.branch}}</td>
                </tr>
                <!-- </ng-container> -->


              </ng-template>
            </ng-container>
          </tbody>
        </table>

      </div>
    </div>
    <div *ngIf="patientList.length === 0">
      <h6>0 Results Found for "{{showParams}}"</h6>
    </div>

  </div>
</div>