<nav class="navbar navbar-light bg-light navbar-logo">
  <img src="../../../assets/healthcanada-logo.png" alt="" id="logo">
</nav>
<nav class="navbar navbar-dark dark-blue navbar-expand-lg">
  <div class="container-fluid">
    <!-- <button class="navbar-toggler show-medium" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
    <a (click)="redirectToDashboard()" class="navbar-brand">NOHIS</a>


    <div class="float-right">

      <div class="dropdown " *ngIf="hasLoggedIn">
        <ngx-avatar class="float-left avatar-circle" name="{{userName}}" size="45"></ngx-avatar>
        <button class="btn btn-link ml-auto dropdown-toggle" type="button" id="dropdownMenuButtonLogin" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{userName}}<br/>
          <span class="user-role-section">{{userRole | titlecase }} </span>
        </button>
        <div class="dropdown-menu  dropdown-menu-right" aria-labelledby="dropdownMenuButtonLogin">
          <a class="dropdown-item" href="" (click)="logout()" >Logout</a>
          <!-- <a class="dropdown-item" href="">Preferences</a> -->
        </div>
      </div>
    </div>
  </div>

</nav>