<nav class="navbar navbar-light bg-light">
    <img src="../../../assets/healthcanada-logo.png" alt="" id="logo">
</nav>
<nav class="navbar navbar-dark dark-blue">
    
      <a (click)="redirectToDashboard()" class="navbar-brand">NOHIS</a>

    
    <div class="float-right">
           
        <div class="dropdown " *ngIf="hasLoggedIn">
            <ngx-avatar class="float-left" name="{{userID}}"></ngx-avatar>
            <button class="btn btn-link ml-auto dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{userID}}
            </button>
            <div class="dropdown-menu  dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" (click)="logout()" href="#">Log Out</a>
              <a class="dropdown-item" href="#">Preferences</a>
            </div>
          </div>
    </div>
      
  </nav> 
