<div class="main-header">
    <h5>Service Request Form</h5>
    <h6>clients > new service request</h6>
</div>


<!-- try [for]="value.text"...
  and value.text has to be the id of the input element or what element you have there -->

<form #form="ngForm" novalidate>
    <div class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control" name=firstname [(ngModel)]="model.firstname">
    </div>

    <!-- <div [hidden]="!given.errors?.minlength" class="invalid-feedback">must be at least 2 characters</div>
    </div> -->


    <div *ngIf="temp.returnQuestionObject()">
        <div *ngFor="let value of temp.returnQuestionObject().item; let i = index" class="col-6-custom">
            <div class="form-group" *ngIf="value.type==='choice'">

                <!-- <label [hidden]="value.text==='OHAG Occupation'">{{i}}{{value.text}}</label>
                <select class="form-control" [hidden]="value.text==='OHAG Occupation'; value.text==='OHAG Environmental Modifier'; value.text==='OHAG Exposure Modifier'">
                    <option *ngFor="let object of value.option" [value]="object.valueCoding.code" > -->

                            <label [hidden]="value.text==='OHAG Occupation'">{{i}}{{value.text}}</label>
                            <select class="form-control">
                                <option *ngFor="let object of value.option" [value]="object.valueCoding.code" >

                        {{object.valueCoding.code}}
                    </option>
                </select>
            </div>
            <div class="form-check" *ngIf="value.type==='boolean'">



                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    {{i}}{{value.text}}
                </label>

            </div>
            <div class="form-group" *ngIf="value.type==='text'">

                <label>{{i}}{{value.text}}</label>
                <textarea type="text" class="form-control" placeholder="type your text" rows="5" required></textarea>
            </div>
            <div class="form-group" *ngIf="value.type==='group'">

                <label>{{i}}{{value.text}}</label>
                <select class="form-control">
                    <option *ngFor="let object of value.item" [value]="object.option.valueCoding.code">

                        {{object.option.valueCoding.code}}
                    </option>
                </select>
            </div>

            <!-- <div *ngIf="i%2===0" class="col-6-custom">
                        <p>{{i}}{{value.text}}</p>
                  </div>
                  <div *ngIf="i%2!==0" class="col-6-custom">
                      <p>{{i}}{{value.text}}</p>
                </div> -->
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit form</button>

</form>

Model: {{model | json}}
Angular: {{form.value}}

<!-- <button class="button button-primary" (click)="deserializethis(object.valueCoding.code)">Click me!</button> -->