<div *ngIf="selected">

  <div class="container" *ngFor="let name of selected.name">


    <div class="main-header">
      <h5>Client Summary</h5>
      <h6>CLIENT DEPARTMENT > {{name.given}} {{name.family}}</h6>
    </div>

    <!-- general info -->
    <section class="form-section">


      <div class="row">
        <div class="col-6">
          <label>First Name</label>
          <textarea type="text" class="form-control" rows="1" disabled placeholder="{{name.given}}"></textarea>
        </div>


        <div class="col-6">
          <label>Last Name</label>
          <textarea type="text" class="form-control" rows="1" disabled>{{name.family}}</textarea>
        </div>
      </div>



      <div class="row">

        <div class="col-6">
          <label>Date of Birth</label>
          <textarea type="text" class="form-control"  rows="1" disabled>{{selected.birthDate}}</textarea>
        </div>


        <div class="col-6">
          <label>Language</label>
          <div *ngFor="let language of selected?.communication">
            <div *ngFor="let usedLanguage of language.language.coding">
              <textarea type="text" class="form-control" rows="1" disabled>{{usedLanguage.display}}</textarea>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- contact info -->
    <section class="form-section">
      <div class='header'>
        <h6>Contact Information</h6>
      </div>


      <div *ngIf="selected?.telecom">
        <div class="row">
          <div class="col-6" *ngFor="let telecom of selected.telecom">

            <label>{{telecom.system}}</label>
            <textarea type="text" class="form-control"  rows="1" disabled>{{telecom.value}}</textarea>
          </div>
        </div>
      </div>

      <div *ngFor="let address of selected?.address">
        <div class="row">
          <div class="col-6">

            <label>Street Address</label>
            <textarea type="text" class="form-control"  rows="1" disabled *ngFor="let line of address.line">{{line}}</textarea>

          </div>
          <div class="col-6">

            <label>City</label>
            <textarea type="text" class="form-control"  rows="1" disabled>{{address.city}}</textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-6">

            <label>Province</label>
            <textarea type="text" class="form-control" rows="1" disabled>{{address.state}}</textarea>

          </div>
          <div class="col-6">

            <label>Postal Code</label>
            <textarea type="text" class="form-control" rows="1" disabled>{{address.postalCode}}</textarea>


          </div>
          <div class="col-6">

            <label>Country</label>
            <textarea type="text" class="form-control"  rows="1" disabled>{{address.country}}</textarea>


          </div>
        </div>
      </div>
    </section>


    <!-- employment info -->
    <section class="form-section">


      <div *ngFor="let extension of selected?.extension">
        <div *ngIf="extension.valueString=='Employee'">
          <div class='header'>
            <h6>Employment Information</h6>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-6">

          
            <div>
              <label>Job Title</label>
              <textarea type="text" class="form-control" rows="1" disabled>{{jobTitle}}</textarea>
            </div>
          </div>

          
<!-- 
              <label>Postal Code</label>
              <textarea type="text" class="form-control" rows="1" disabled>{{address.postalCode}}</textarea>
   -->
  
            


        <div class="col-6">
          <div *ngFor="let identifier of selected?.identifier">
              <label>Employee PRI</label>
              <textarea type="text" class="form-control"  rows="1" disabled>{{identifier?.value}}</textarea>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-6">
          <div *ngFor="let extension of selected?.extension">
            <div *ngIf="extension.url=='https://bcip.smilecdr.com/fhir/workplace'">
              <label>Employing Department Name</label>
              <textarea type="text" class="form-control"  rows="1" disabled>{{extension.valueString}}</textarea>
            </div>
          </div>


        </div>
        <div class="col-6">
          <div *ngFor="let extension of selected?.extension">
            <div *ngIf="extension.url=='https://bcip.smilecdr.com/fhir/branch'">
              <label>Employing Department Branch</label>
              <textarea type="text" class="form-control"  rows="1" disabled>{{extension.valueString}}</textarea>
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-6">
          <div *ngFor="let extension of selected?.extension">
            <div *ngIf="extension.url=='https://bcip.smilecdr.com/fhir/crossreferenceone'">
              <label>Cross Reference</label>
              <textarea type="text" class="form-control"  rows="1" disabled>{{extension.valueString}}</textarea>
            </div>
          </div>


        </div>
        <div class="col-6">
          <div *ngFor="let extension of selected?.extension">
            <div *ngIf="extension.url=='https://bcip.smilecdr.com/fhir/crossreferencetwo'">
              <label>Cross Reference</label>
              <textarea type="text" class="form-control"  rows="1" disabled>{{extension.valueString}}</textarea>
            </div>
          </div>
        </div>

      </div>
    </section>


    <div *ngFor="let item of selected?.extension">
      <!-- dependents -->
      <!-- Display this list of related clients if the selected client in the summary is an Employee -->
      <div *ngIf="item.valueString == 'Employee'; else dependentRelatedList">
        <section class="form-section" *ngIf="dependentArray.length > 0">
          <div class='header'>
            <h6>Dependents</h6>
          </div>
          <div class="col-6">
          <div *ngFor="let dependent of dependentArray">
            <div *ngFor="let name of dependent?.name">
              
                <label>Dependent</label>
                <textarea type="text" class="form-control"  rows="1" disabled>{{name.given}} {{name.family}}</textarea>
              </div>
            </div>
          </div>

        </section>

      </div>

      <!-- Only show this section if the selected client is a Dependent -->
      <ng-template #dependentRelatedList>
        <div *ngIf="item.valueString == 'Dependent'">
          <section class="form-section" *ngIf="dependentArray.length > 0">
            <div class='header'>
              <h6>Related to</h6>
            </div>
            <div *ngFor="let dependent of dependentArray">
              <div *ngFor="let extension of dependent.extension">
                <div *ngIf="extension.valueString =='Employee'">
                  <div *ngFor="let name of dependent?.name">
                    <div class="col-6">
                      <label>Employee</label>
                      <textarea type="text" class="form-control"  rows="1" disabled>{{name.given}} {{name.family}}</textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </section>

        </div>
      </ng-template>
    </div>


    <!-- buttons -->
    <div class="row" *ngFor="let item of selected?.extension">
      <button *ngIf="item.valueString == 'Employee'" class="btn regular-button" (click)="addDependent()">Add a
        Dependent</button>
      <button *ngIf="item.valueString == 'Employee' || item.valueString == 'Dependent'" class="btn regular-button"
        (click)="newServiceRequest()">Create a Service Request</button>
      <button *ngIf="item.valueString == 'Employee' || item.valueString == 'Dependent'" class="btn regular-button float-right"
        (click)="backToDashboard()">Back to Dashboard</button>
    </div>
  </div>
</div>