<div class="container">
  <div class="main-header" *ngIf="servReqType === 'SERVREQ'">
    <h6>service request > new service request > {{clientGivenName + ' ' +
      clientFamilyName}}</h6>
  </div>

  <div class="main-header" *ngIf="servReqType === 'ADCOIN'">
    <h5>Contact us</h5>
    <h6>service request > new advice consulation</h6>
  </div>

  <section class="form-section">
    <!-- dynamic forms starts-->
    <div *ngIf='!formCreated'>
      <dynamic-form [config]="config" #form="dynamicForm" (submit)="submit($event)">
      </dynamic-form>
      <!-- {{ form.valid }}
      {{ form.value | json }} -->
    </div>
    <!-- dynamic forms ends-->

    <div *ngIf='formCreated'>
      <p>Your Service Request was created Successfully</p>
      <button class="btn regular-button" type="button" (click)="onOk()">OK</button>
    </div>

  </section>