<div class="header-row">
  <img src="../../assets/goc.jpg" id="goc" alt="Government of Canada" srcset="">
</div>
<div class="toolbar-row">
  <mat-toolbar color="primary" class="toolbar">
    <span> National Occuptational Health Information System</span>
    <span class="example-fill-remaining-space"></span>

  </mat-toolbar>

</div>

<div class="row">
  <h2 mat-subheader>#0001 John Smith</h2>
</div>


<div class="row">
  <mat-card  class="mat-elevation-z8 table">
    <table>
      <tr>
        <td>
          <div class="data-header">
            <div class="data-cell">
              <span>Client Type</span>
            </div>
            <div class="data-cell">
              <span>Employee</span>
            </div>
          </div>
          <hr>

          <div class="data-header">
            <div class="data-cell">
              <span>Date of Birth </span>
            </div>
            <div class="data-cell">
              <span>02-02-1990</span>
            </div>
          </div>
          <hr>

          <div class="data-header">
            <div class="data-cell">
              <span>Address & Street</span>
            </div>
            <div class="data-cell">
              <span>123 Third Street</span>
            </div>
          </div>
          <hr>
          <div class="data-header">
            <div class="data-cell">
              <span>Province</span>
            </div>
            <div class="data-cell">
              <span>Ontario</span>
            </div>
          </div>
          <hr>

          <div class="data-header">
              <div class="data-cell">
                <span>Country</span>
              </div>
              <div class="data-cell">
                <span>Canada</span>
              </div>
            </div>
            <hr>
        </td>
        <td>
          <div class="data-header">
            <div class="data-cell">
              <span>Email</span>
            </div>
            <div class="data-cell">
              <span>email@canada.ca</span>
            </div>
          </div>
          <hr>
          <div class="data-header">
            <div class="data-cell">
              <span>Phone No.</span>
            </div>
            <div class="data-cell">
              <span>0-000-000-0000</span>
            </div>
          </div>
          <hr>
          <div class="data-header">
            <div class="data-cell">
              <span>City</span>
            </div>
            <div class="data-cell">
              <span>Toronto</span>
            </div>
          </div>
          <hr>
          <div class="data-header">
            <div class="data-cell">
              <span>Postal Code</span>
            </div>
            <div class="data-cell">
              <span>M1M 1M1</span>
            </div>
          </div>
          <hr>

          <div class="data-header">
              <div class="data-cell">
                <span>Language</span>
              </div>
              <div class="data-cell">
                <span>English</span>
              </div>
            </div>
            <hr>
        </td>
      </tr>
    </table>
  </mat-card>
</div>

<div class="row">
    <h2 mat-subheader>#0002 Jane Smith</h2>
  </div>

<div class="row">
    <mat-card  class="mat-elevation-z8 table">
      <table>
        <tr>
          <td>
            <div class="data-header">
              <div class="data-cell">
                <span>Client Type</span>
              </div>
              <div class="data-cell">
                <span>Dependent</span>
              </div>
            </div>
            <hr>
  
            <div class="data-header">
              <div class="data-cell">
                <span>Date of Birth </span>
              </div>
              <div class="data-cell">
                <span>02-02-2000</span>
              </div>
            </div>
            <hr>
  
            <div class="data-header">
              <div class="data-cell">
                <span>Address & Street</span>
              </div>
              <div class="data-cell">
                <span>123 Third Street</span>
              </div>
            </div>
            <hr>
            <div class="data-header">
              <div class="data-cell">
                <span>Province</span>
              </div>
              <div class="data-cell">
                <span>Ontario</span>
              </div>
            </div>
            <hr>
  
            <div class="data-header">
                <div class="data-cell">
                  <span>Country</span>
                </div>
                <div class="data-cell">
                  <span>Canada</span>
                </div>
              </div>
              <hr>
          </td>
          <td>
            <div class="data-header">
              <div class="data-cell">
                <span>Email</span>
              </div>
              <div class="data-cell">
                <span>test@hotmail.com</span>
              </div>
            </div>
            <hr>
            <div class="data-header">
              <div class="data-cell">
                <span>Phone No.</span>
              </div>
              <div class="data-cell">
                <span>0-000-000-0001</span>
              </div>
            </div>
            <hr>
            <div class="data-header">
              <div class="data-cell">
                <span>City</span>
              </div>
              <div class="data-cell">
                <span>Toronto</span>
              </div>
            </div>
            <hr>
            <div class="data-header">
              <div class="data-cell">
                <span>Postal Code</span>
              </div>
              <div class="data-cell">
                <span>M1M 1M1</span>
              </div>
            </div>
            <hr>
  
            <div class="data-header">
                <div class="data-cell">
                  <span>Language</span>
                </div>
                <div class="data-cell">
                  <span>English</span>
                </div>
              </div>
              <hr>
          </td>
        </tr>
      </table>
    </mat-card>
  </div>