#content-form {

    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    text-align: center;
    justify-content: center;
    
}
.form-field {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.row {
    padding: 10px;
}