<div *ngIf="!milestoneForDisplay || milestoneForDisplay === ''">
  <div class="vefs-milestone-wrapper">
    <div class="milestone-container">

      <div class="chart-container">
        <div class="line-container">
          <div class="line-status"></div>
          <div class="line-status left" style="width: 0%;"></div>
        </div>

        <div class="dot-container">
          <div class="milestones milestone__0">
            <div class="dot"></div>
          </div>
          <div class="milestones milestone__20">
            <div class="dot"></div>
          </div>
          <div class="milestones milestone__40">
            <div class="dot"></div>
          </div>
          <div class="milestones milestone__60">
            <div class="dot"></div>
          </div>
          <div class="milestones milestone__80">
            <div class="dot"></div>
          </div>
          <div class="milestones milestone__100">
            <div class="dot"></div>
          </div>
        </div>
      </div>

      <div class="label-container">
        <div class="milestones milestone__0">
          <div class="label">Received</div>
        </div>
        <div class="milestones milestone__20">
          <div class="label">Validated</div>
        </div>
        <div class="milestones milestone__40">
          <div class="label">Assigned To Clinician</div>
        </div>
        <div class="milestones milestone__60">
          <div class="label">Scheduled</div>
        </div>
        <div class="milestones milestone__80">
          <div class="label">Clinical Work Completed</div>
        </div>
        <div class="milestones milestone__100">
          <div class="label">Closed</div>
        </div>
      </div>

    </div>
  </div>
</div>
<div *ngIf="milestoneForDisplay">
  <div *ngIf="milestoneForDisplay['linkId']">

    <div *ngIf="milestoneForDisplay['linkId'] === 'Received'">
      <div class="vefs-milestone-wrapper">
        <div class="milestone-container">

          <div class="chart-container">
            <div class="line-container">
              <div class="line-status"></div>
              <div class="line-status left" style="width: 0%;"></div>
            </div>

            <div class="dot-container">
              <div class="milestones milestone__0">
                <div class="dot completed colored"></div>
              </div>
              <div class="milestones milestone__20">
                <div class="dot"></div>
              </div>
              <div class="milestones milestone__40">
                <div class="dot"></div>
              </div>
              <div class="milestones milestone__60">
                <div class="dot"></div>
              </div>
              <div class="milestones milestone__80">
                <div class="dot"></div>
              </div>
              <div class="milestones milestone__100">
                <div class="dot"></div>
              </div>
            </div>
          </div>

          <div class="label-container">
            <div class="milestones milestone__0">
              <div class="label colored">Received</div>
            </div>
            <div class="milestones milestone__20">
              <div class="label">Validated</div>
            </div>
            <div class="milestones milestone__40">
              <div class="label">Assigned To Clinician</div>
            </div>
            <div class="milestones milestone__60">
              <div class="label">Scheduled</div>
            </div>
            <div class="milestones milestone__80">
              <div class="label">Clinical Work Completed</div>
            </div>
            <div class="milestones milestone__100">
              <div class="label">Closed</div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div *ngIf="milestoneForDisplay['linkId'] === 'Validated'">
      <div class="vefs-milestone-wrapper">
        <div class="milestone-container">

          <div class="chart-container">
            <div class="line-container">
              <div class="line-status"></div>
              <div class="line-status left" style="width: 20%;"></div>
            </div>

            <div class="dot-container">
              <div class="milestones milestone__0">
                <div class="dot"></div>
              </div>
              <div class="milestones milestone__20">
                <div class="dot completed colored"></div>
              </div>
              <div class="milestones milestone__40">
                <div class="dot"></div>
              </div>
              <div class="milestones milestone__60">
                <div class="dot"></div>
              </div>
              <div class="milestones milestone__80">
                <div class="dot"></div>
              </div>
              <div class="milestones milestone__100">
                <div class="dot"></div>
              </div>
            </div>
          </div>

          <div class="label-container">
            <div class="milestones milestone__0">
              <div class="label">Received</div>
            </div>
            <div class="milestones milestone__20">
              <div class="label colored">Validated</div>
            </div>
            <div class="milestones milestone__40">
              <div class="label">Assigned To Clinician</div>
            </div>
            <div class="milestones milestone__60">
              <div class="label">Scheduled</div>
            </div>
            <div class="milestones milestone__80">
              <div class="label">Clinical Work Completed</div>
            </div>
            <div class="milestones milestone__100">
              <div class="label">Closed</div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div *ngIf="milestoneForDisplay['linkId'] === 'Assigned'">
      <div class="vefs-milestone-wrapper">
        <div class="milestone-container">

          <div class="chart-container">
            <div class="line-container">
              <div class="line-status"></div>
              <div class="line-status left" style="width: 40%;"></div>
            </div>

            <div class="dot-container">
              <div class="milestones milestone__0">
                <div class="dot"></div>
              </div>
              <div class="milestones milestone__20">
                <div class="dot"></div>
              </div>
              <div class="milestones milestone__40">
                <div class="dot completed colored"></div>
              </div>
              <div class="milestones milestone__60">
                <div class="dot"></div>
              </div>
              <div class="milestones milestone__80">
                <div class="dot"></div>
              </div>
              <div class="milestones milestone__100">
                <div class="dot"></div>
              </div>
            </div>
          </div>

          <div class="label-container">
            <div class="milestones milestone__0">
              <div class="label">Received</div>
            </div>
            <div class="milestones milestone__20">
              <div class="label">Validated</div>
            </div>
            <div class="milestones milestone__40">
              <div class="label colored">Scheduled</div>
            </div>
            <div class="milestones milestone__60">
              <div class="label">Assigned To Clinician</div>
            </div>
            <div class="milestones milestone__80">
              <div class="label">Clinical Work Completed</div>
            </div>
            <div class="milestones milestone__100">
              <div class="label">Closed</div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div *ngIf="milestoneForDisplay['linkId'] === 'Scheduled'">
      <div class="vefs-milestone-wrapper">
        <div class="milestone-container">

          <div class="chart-container">
            <div class="line-container">
              <div class="line-status"></div>
              <div class="line-status left" style="width: 60%;"></div>
            </div>

            <div class="dot-container">
              <div class="milestones milestone__0">
                <div class="dot"></div>
              </div>
              <div class="milestones milestone__20">
                <div class="dot"></div>
              </div>
              <div class="milestones milestone__40">
                <div class="dot"></div>
              </div>
              <div class="milestones milestone__60">
                <div class="dot completed colored"></div>
              </div>
              <div class="milestones milestone__80">
                <div class="dot"></div>
              </div>
              <div class="milestones milestone__100">
                <div class="dot"></div>
              </div>
            </div>
          </div>

          <div class="label-container">
            <div class="milestones milestone__0">
              <div class="label">Received</div>
            </div>
            <div class="milestones milestone__20">
              <div class="label">Validated</div>
            </div>
            <div class="milestones milestone__40">
              <div class="label">Scheduled</div>
            </div>
            <div class="milestones milestone__60">
              <div class="label colored">Assigned To Clinician</div>
            </div>
            <div class="milestones milestone__80">
              <div class="label">Clinical Work Completed</div>
            </div>
            <div class="milestones milestone__100">
              <div class="label">Closed</div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div *ngIf="milestoneForDisplay['linkId'] === 'Work-Completed'">
      <div class="vefs-milestone-wrapper">
        <div class="milestone-container">

          <div class="chart-container">
            <div class="line-container">
              <div class="line-status"></div>
              <div class="line-status left" style="width: 80%;"></div>
            </div>

            <div class="dot-container">
              <div class="milestones milestone__0">
                <div class="dot"></div>
              </div>
              <div class="milestones milestone__20">
                <div class="dot"></div>
              </div>
              <div class="milestones milestone__40">
                <div class="dot"></div>
              </div>
              <div class="milestones milestone__60">
                <div class="dot"></div>
              </div>
              <div class="milestones milestone__80">
                <div class="dot completed colored"></div>
              </div>
              <div class="milestones milestone__100">
                <div class="dot"></div>
              </div>
            </div>
          </div>

          <div class="label-container">
            <div class="milestones milestone__0">
              <div class="label">Received</div>
            </div>
            <div class="milestones milestone__20">
              <div class="label">Validated</div>
            </div>
            <div class="milestones milestone__40">
              <div class="label">Scheduled</div>
            </div>
            <div class="milestones milestone__60">
              <div class="label">Assigned To Clinician</div>
            </div>
            <div class="milestones milestone__80">
              <div class="label colored">Work Completed</div>
            </div>
            <div class="milestones milestone__100">
              <div class="label">Closed</div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div *ngIf="milestoneForDisplay['linkId'] === 'Closed'">
      <div class="vefs-milestone-wrapper">
        <div class="milestone-container">

          <div class="chart-container">
            <div class="line-container">
              <div class="line-status"></div>
              <div class="line-status left" style="width: 100%;"></div>
            </div>

            <div class="dot-container">
              <div class="milestones milestone__0">
                <div class="dot"></div>
              </div>
              <div class="milestones milestone__20">
                <div class="dot"></div>
              </div>
              <div class="milestones milestone__40">
                <div class="dot"></div>
              </div>
              <div class="milestones milestone__60">
                <div class="dot"></div>
              </div>
              <div class="milestones milestone__80">
                <div class="dot"></div>
              </div>
              <div class="milestones milestone__100">
                <div class="dot completed colored"></div>
              </div>
            </div>
          </div>

          <div class="label-container">
            <div class="milestones milestone__0">
              <div class="label">Received</div>
            </div>
            <div class="milestones milestone__20">
              <div class="label">Validated</div>
            </div>
            <div class="milestones milestone__40">
              <div class="label">Scheduled</div>
            </div>
            <div class="milestones milestone__60">
              <div class="label">Assigned To Clinician</div>
            </div>
            <div class="milestones milestone__80">
              <div class="label">Clinical Work Completed</div>
            </div>
            <div class="milestones milestone__100">
              <div class="label colored">Closed</div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>