// global vars
$milestone-base-color: #cccccc;
$milestone-progress-color: #bbbbbb;
$milestone-10-color: #ffbc42;
$milestone-25-color: #d81159;
$milestone-50-color: #8f2d56;
$milestone-80-color: #218380;
$milestone-100-color: #73d2de;

$milestone-20-color: #73d2de;

.vefs-milestone-wrapper {
    $component-height: 50px;
    $line-height: $component-height / 10;
    $dot-size: $line-height * 3.5;
    padding-left: 75px;
    .milestone-container {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 90%;
      height: $component-height;
  
      .chart-container {
        display: flex;
        flex-flow: row;
        align-items: center;
        flex: 1 50%;
  
        .line-container {
          position: absolute;
          display: flex;
          align-items: center;
          width: 100%;
          height: $dot-size;
  
          .line-status {
            align-self: center;
            position: absolute;
            top: $dot-size / 2;
            transform: translateY(-50%);
            order: 1;
            width: 100%;
            height: $line-height;
            background-color: $milestone-base-color;
            background-color: rgba($milestone-base-color, 0.5);
  
            &.left {
              order: 0;
              background-color: $milestone-progress-color;
            }
          }
        }
  
        .dot-container {
          position: absolute;
          height: $dot-size;
          width: 100%;
  
          .dot {
            position: absolute;
            width: $dot-size;
            height: $dot-size;
            border-radius: 50%;
            background-color: $milestone-base-color;
            transform: translateX(-50%);
            transition: all 0.25s ease-out;
  
            &.completed {
              background-color: #398EF2;
            }
          }
        }
  
      }
  
      .label-container {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        flex: 1 50%;
  
        .label {
          position: relative;
          font-size: 0.7rem;
          font-weight: 600;
          color: $milestone-base-color;
  
          &.colored {
            color: $milestone-progress-color;
          }
        }
      }
      
      .milestones {
        position: absolute;
        transform: translate(-50%, 0);
  
        @mixin milestone( $mark, $color) {
          &__#{$mark} {
            left: #{$mark + '%'};
  
            .dot {
              &.colored {
                background-color: rgba($color, 1);
                transition: all 0.25s ease-out;
              }
            }
          }
        }
  
        &.milestone {
          // generate position and color of each milestone value
          @for $i from 0 to 101 {
            @if $i > 0 and $i <= 20 {
              @include milestone($i, $milestone-10-color);
            }
            @if $i > 20 and $i <= 40 {
              @include milestone($i, $milestone-25-color);
            }
            @if $i > 40 and $i <= 60 {
              @include milestone($i, $milestone-50-color);
            }
            @if $i > 60 and $i <= 80 {
              @include milestone($i, $milestone-80-color);
            }
            @if $i > 80 and $i <= 100 {
              @include milestone($i, $milestone-100-color);
            }
          }
        }
      }
    }
  }