<div class="container">
  <div class="main-header">
    <h5>Employee</h5>
    <h6>client department > Create Employee & Dependent Records</h6>
  </div>
  <div id="content-form">



    <form [formGroup]="employeeFormGroup" *ngIf="!showSuccessMessage" (ngSubmit)="saveEmployee()">
      <section class="form-section">
        <div class='header'>
          <h6>
            Employee Information
          </h6>
        </div>


        <div class="row">
          <div class="col-3">
            <label for="givenName">First Name (Required)</label>
            <input type="text" class="form-control" placeholder="Enter" formControlName="givenName" id="givenName"
              name="givenName">

            <div *ngIf="employeeFormGroup.controls['givenName'].invalid
            && (employeeFormGroup.controls['givenName'].touched || employeeFormGroup.controls['givenName'].dirty)">
              <div class="error-message">
                Must be two or more characters long
              </div>
            </div>
          </div>
          <div class="col-3">
            <label for="familyName">Last Name (Required)</label>
            <input type="text" class="form-control" placeholder="Enter" formControlName="familyName" id="familyName"
              required>

            <div *ngIf="employeeFormGroup.controls['familyName'].invalid
            && (employeeFormGroup.controls['familyName'].touched || employeeFormGroup.controls['familyName'].dirty)">
              <div class="error-message">
                Must be two or more characters long
              </div>
            </div>

          </div>
          <div class="col">
            <label for="id">Employee PRI (must be 9 digits)</label>
            <input type="text" class="form-control" placeholder="Enter" formControlName="id" id="id">
            <div class="invalid-feedback">
              Must contain 9 numbers
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="dob">Date of Birth (Required)</label>
              <input class="form-control" type="text" placeholder="Datepicker" formControlName="dob" id="dob"
                bsDatepicker [bsConfig]='datePickerConfig' [minDate]="minDate" [maxDate]="maxDate" red required>
              <div class="invalid-feedback">
                Cannot be blank
              </div>
            </div>
          </div>
          <div class="col">
            <label for="type">Preferred Language</label>
            <select class="form-control" formControlName="language" id="language" placeholder="Select a language">
              <option value="">(Select)</option>
              <option *ngFor="let lang of languageList" [value]="lang.value">
                {{lang.viewValue}}
              </option>
              <div class="invalid-feedback">
                Cannot be blank
              </div>
            </select>
          </div>
        </div>


      </section>


      <section class="form-section">
        <div class='header'>
          <h6>
            Contact & Address Information
          </h6>
        </div>

        <div class="row">
          <div class="col">
            <label for="email">Email (Required)</label>
            <input type="text" class="form-control" placeholder="sample@email.com" formControlName="email" id="email"
              required>
            <div class="invalid-feedback">
              Must be of format: email@email.com
            </div>
          </div>
          <div class="col">
            <label for="phoneNumber">Phone Number (Required)</label>
            <input type="text" class="form-control" placeholder="0000000000" formControlName="phoneNumber"
              id="phoneNumber" required>
            <div class="invalid-feedback">
              Must be ten digits long, no spaces, characters or dashes
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label for="addressStreet">Street Address (Required)</label>
            <input type="text" class="form-control" placeholder="123 Lane" formControlName="addressStreet"
              id="addressStreet" required>
            <div class="invalid-feedback">
              Cannot be blank
            </div>
          </div>
          <div class="col">
            <label for="addressCity">City (Required)</label>
            <input type="text" class="form-control" placeholder="Enter" formControlName="addressCity" id="addressCity"
              required>
            <div class="invalid-feedback">
              Cannot be blank
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-3">
            <label for="addressProv">Province (Required)</label>
            <!-- <input type="text" class="form-control" placeholder="Enter" formControlName="addressProv" id="addressProv"
              required> -->


            <select class="form-control" formControlName="addressProv" placeholder="Enter" required>
              <option [ngValue]="null">Select Type (Required)</option>
              <option *ngFor="let province of provinces" [value]="province">
                {{province}}
              </option>
            </select>



            <div class="invalid-feedback">
              Cannot be blank
            </div>
          </div>
          <div class="col-3">
            <label for="addressPcode">Postal Code (Required)</label>
            <input type="text" class="form-control" placeholder="M1P1P1" formControlName="addressPcode"
              id="addressPcode" required>
            <div class="invalid-feedback">
              Cannot be blank
            </div>
          </div>
          <div class="col-6">
            <label for="addressCountry">Country (Required)</label>
            <input type="text" class="form-control" formControlName="addressCountry" id="addressCountry" required>
            <div class="invalid-feedback">
              Cannot be blank
            </div>
          </div>
        </div>
      </section>


      <section class="form-section">

        <div class='header'>
          <h6>
            Employment Information
          </h6>
        </div>


        <div class="row">
          <div class="col">
            <label for="jobTitle">Job Title</label>
            <input type="text" class="form-control" placeholder="Enter" formControlName="jobTitle" id="jobTitle">
          </div>
          <div class="col-3">
            <label for="jobLevel">Job Level</label>
            <input type="text" class="form-control" placeholder="Enter" formControlName="jobLevel" id="jobTitle">

          </div>
          <div class="col-3">
            <label for="jobClass">Job Class</label>
            <input type="text" class="form-control" placeholder="Enter" formControlName="jobClass" id="jobClass">

          </div>
        </div>

        <div class="row">
          <div class="col">
            <label for="departmentName">Department Name</label>
            <select class="form-control" formControlName="departmentName" id="departmentName" required>
              <option value="">(Select)</option>
              <option *ngFor="let dept of employeeDepartmentList" [value]="dept.value">
                {{dept.text}}
              </option>
            </select>
          </div>

          <div class="col">
            <label for="departmentBranch">Department Branch</label>
            <select class="form-control" formControlName="departmentBranch" id="departmentBranch" required>
              <option value="">(Select)</option>
              <option *ngFor="let item of jobLocationList" [value]="item.value">
                {{item.text}}
              </option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label for="referenceOne">Cross-reference No. 1</label>
            <input type="text" class="form-control" placeholder="Enter" formControlName="referenceOne"
              id="referenceOne">
          </div>
          <div class="col">
            <label for="referenceTwo">Cross-reference No. 2</label>
            <input type="text" class="form-control" placeholder="Enter" formControlName="referenceTwo"
              id="referenceTwo">
          </div>
        </div>

      </section>
      <div class="button-section line">
        <button class="btn  regular-dark-button  float-right submit" type="submit"
          [disabled]="!employeeFormGroup.valid">Submit</button>
      </div>

    </form>


    <div class="col">
      <div>
        <div *ngIf="showSuccessMessage">
          <strong>Employee Record created successfully!!</strong>
          <button class="btn regular-button" (click)="returnToDashboard()">Return to Dashboard</button>
        </div>
        <div *ngIf="showFailureMessage">
          <strong>{{failureMessage}}</strong>
        </div>
      </div>
    </div>


  </div>


</div>