<div class="container">

  <div class="row">
    <div class="card">
      <div class="card-header">
        Immunization Function
    <button class="btn regular-button" (click)="saveProcedureRequest()">Update History</button>

      </div>
      <!-- <ul class="clinical-checklist">
          <li *ngFor="let item of clinicalQuestionnaireArray">
            <div *ngIf="item['code'][0]['code'] !== 'IMMUNREVQ4'">
              <label class="item-header">{{item.text | uppercase}}</label>
              <section *ngIf="item.items">
                <div *ngFor="let element of item.items" class="clinical-checklist-items">
                  <label class="item">
                    <input type="checkbox" [(ngModel)]="element.checked" *ngIf="element['type'] !== 'group'">
                    <span class="checklist-item">{{element.text}}</span>
                  </label>
                  <div *ngIf="element['item']">
                    <div *ngFor="let innerElement of element['item']">
                      <label class="item">
                        <input type="checkbox" [(ngModel)]="innerElement.checked">
                        <span class="checklist-item">{{innerElement.text}}</span>
                      </label>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </li>
        </ul>
        <div *ngFor="let item of clinicalQuestionnaireArray">
          <div *ngIf="item['code'][0]['code'] === 'IMMUNREVQ4'">
            <label class="item-header">{{item.text | uppercase}}</label>
            <textarea name="notesforimmunization" id="notesforimmunization" cols="30" rows="3"></textarea>
          </div>
        </div> -->

      <div class="card-body" *ngFor="let item of clinicalQuestionnaireArray">
        <div *ngIf="item['code'][0]['code'] === 'IMMUNREVQ1'">
          <ul class="clinical-checklist">
            <li>
              <label class="label-checklist">{{item.text | uppercase}}</label>
              <section *ngIf="item.items">
                <div *ngFor="let element of item.items" class="clinical-checklist-items">
                  <label class="label-checklist ">
                    <input type="checkbox" [ngClass]="{'testClass': checked}" class="clinical-checklist-checkbox" [(ngModel)]="element.checked" *ngIf="element['type'] !== 'group'">
                    <span class="checklist-item">{{element.text}}</span>
                  </label>
                </div>
              </section>
            </li>
          </ul>
        </div>
        <div *ngIf="item['code'][0]['code'] === 'IMMUNREVQ2'">
          <ul class="clinical-checklist">
            <li>
              <label class="label-checklist">{{item.text | uppercase}}</label>
              <section *ngIf="item.items">
                <div *ngFor="let element of item.items" class="clinical-checklist-items">
                  <label class="label-checklist">
                    <span class="checklist-items">{{element.text}}</span>
                  </label>
                  <div *ngIf="element['item']">
                    <div *ngFor="let innerElement of element['item']" class="clinical-checklist-items">
                      <label class="label-checklist">
                        <input type="checkbox" class="clinical-checklist-checkbox" [(ngModel)]="innerElement.checked">
                        <span class="checklist-items">{{innerElement['text']}}</span>
                      </label>
                    </div>
                  </div>
                </div>
              </section>
            </li>
          </ul>
        </div>
        <div *ngIf="item['code'][0]['code'] === 'IMMUNREVQ3'">
          <ul class="clinical-checklist">
            <li>
              <label class="label-checklist">{{item.text | uppercase}}</label>
              <section *ngIf="item.items">
                <div *ngFor="let element of item.items" class="clinical-checklist-items">
                  <label class="label-checklist">
                    <input type="checkbox" class="clinical-checklist-checkbox" [(ngModel)]="element.checked" *ngIf="element['type'] !== 'group'">
                    <span class="checklist-items">{{element.text}}</span>
                  </label>
                </div>
              </section>
            </li>
          </ul>
        </div> 
        <div *ngIf="item['code'][0]['code'] === 'IMMUNREVQ4'">
          <div class="clinical-checklist-items">
            <label class="label-checklist">{{item.text | uppercase}}</label>
            <form [formGroup]="clinicialFormGroup" novalidate>
              <input type="text" name="historyNotes" id="historyNotes" formControlName="historyNotes" class="form-control"
                placeholder="additional notes">
            </form>
          </div>
        </div>
      </div>
    </div>
      
        <!-- <button class="btn regular-button" (click)="addVaccination()"> Add new vaccination</button> -->
      
  </div>
</div>