#logo {
    height: 27px;
}

.navbar-light {
    background-color: white !important; 
}

.navbar-logo {
    margin-bottom: 6px;
}

.dark-blue {
    height: 61px;
    background-color: white;
}

.btn-link {
    color: #626262;
}

.navbar-brand {
    color: #334f75 !important;
    cursor: pointer;
    font-weight: bold;
}