<app-navbar></app-navbar>
<div id="container">
    <div class="row">
        <div class="col-1 col-lg-2 col-md-3" *ngIf="returnTokenStatus()">
            <app-sidebar></app-sidebar>
        </div>
        <!-- <app-create-account></app-create-account> -->

        <!-- Show the dashboard if there is a valid token-->
        <div class="col-11 col-lg-10 col-md-9" *ngIf="returnTokenStatus()">
            <app-dashboard></app-dashboard>
        </div>

        <!-- Show the Auth component if there's no valid token (aka, user is not logged in or token's expired-->
        <div class="col-12" *ngIf="!returnTokenStatus()">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>