<div *ngIf="items !== undefined">


  <div class="main-header">
    <h5>Advice Request Form</h5>
    <h6>service request > summary</h6>
  </div>
  
  
  
  <!-- try [for]="value.text"...
  and value.text has to be the id of the input element or what element you have there -->
  <form #serReqForm="ngForm">
  
      <!-- <div *ngIf="temp.returnQuestionObject()"> -->
        <!-- <div *ngFor="let value of temp.returnQuestionObject().item; let i = index" class="col-6-custom"> -->
    
          <div *ngFor="let el of qrequest; trackBy: trackByEl; let i=index;" class="col-12-custom">
          <div class="form-group" *ngIf="el.type==='choice'">
    
            <label>{{el.linkId}} {{el.text}}</label>
            <select class="form-control"
            name='{{el.text}}'
            disabled
    
            [(ngModel)]="items[i].answer"
            >
              <option *ngFor="let object of el.option"
                          [value]='object.valueCoding.code'
                  >
    
                {{object.valueCoding.code}}
              </option>
            </select>
          </div>
    
    
          
          <div class="form-check" *ngIf="el.type==='boolean' && el.text!=='Dependent Involved'">
            <input class="form-check-input" 
            type="checkbox"
            name='{{el.text}}'
            [(ngModel)]="items[i].answer" 
            id="defaultCheck1">
            <label class="form-check-label"
            for="defaultCheck1">
                {{el.linkId}} {{el.text}}
            </label>
    
          </div>



          <div class="form-group" *ngIf="el.type==='text'">
    
            <label>{{el.linkId}} {{el.text}}</label>
            <textarea type="text"
            disabled
            [(ngModel)]="items[i].answer"
            name='{{el.text}}' 
            class="form-control" 
            placeholder="type your text" rows="1" required></textarea>
          </div>
  
  
          <div class="form-group" *ngIf="el.type==='open-choice'">
    
            <label>{{el.linkId}} {{el.text}}</label>
                <textarea type="text" 
                disabled
                [(ngModel)]="items[i].answer"
                name='{{el.text}}'
                class="form-control" 
                placeholder="type your text" 
                rows="1" required></textarea>
          </div> 
  
        </div>
  
        <div *ngIf="dependents===true" class="col-12-custom">
            <h6>Dependents</h6>
            <div class="form-group col-6-custom">
                
                
                <div class="col-6-custom">
                 <label>Dependents</label>
                <textarea type="text" 
                    [(ngModel)]="dependentNumber"
                    name='dependentsNumber'
                    class="form-control" 
                    placeholder="0" 
                    rows="1" disabled></textarea>
                </div>
  
            </div>
            
        </div>
  
        <div class="col-12-custom">
          <h6>documents</h6>
  

            <div>
                <table class="table">
                    <thead class="header-table">
                      <tr>
                        <th scope="col">#ID</th>
                        <th scope="col">Date</th>
                        <th scope="col">Document Name</th>
                        <th scope="col">Document Type</th>
                        <th scope="col">File Type</th>
                        <th scope="col">File Size</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                  
                      </tr>
                    </thead>
                    <tbody *ngIf="documents===null">
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
  
                          <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr> 
  
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                    </tbody>
            
            
                    <!-- <tbody *ngIf="documents !==null">
                      <tr *ngFor="let q of servRequests ">
                        <td>{{q.resource.id}}</td>
                        <td>{{q.resource.authored | date: 'dd/MM/yyyy'}}</td>
                        <td>{{q}}</td>
                        <td>{{q}}</td>
                        <td>{{q}}</td>
                        <td>{{q}}</td>
                        <td>{{q.resource.subject.display}}</td>
                        <td>{{q.resource.status}}</td>
                      </tr>
                    </tbody> -->
            
            
                  </table>
            </div>
  
        </div>
    
      
     
      <button class="btn btn-primary" type="button" (click)="onSubmit()">Submit</button>
      <button class="btn btn-secondary" type="button" (click)="onEdit()">Edit</button>  
      <button class="btn btn-secondary" type="button" (click)="onCancel()">Cancel</button> 
    
    </form>
    <br>
    <br>
    <br>
    
    Angular/form: {{serReqForm.value | json }}
    <br>
    <br>
    Item: {{item | json }}
    <br>
    <br>
    
    Items: {{items | json }}
    
    <br>
    <br>
    Model/qrequest: {{qrequest | json}}
    
    <!-- <button class="button button-primary" (click)="deserializethis(object.valueCoding.code)">Click me!</button> -->

  </div>
    