<div class="main-header">
    <h5>Search Service Request</h5>
    <h6>client department > service request</h6>
  </div>
  <div class="search-box">
    <form #form="ngForm" class="center-align">
      <div class="form-group">
        <div class="form-group-search">
  
        <div class="row ">
  
          <div class="col-12">
            <label for="name" class="label-name">Name</label>
            <input type="text" 
            name="name" 
            id="name" 
            class="form-control" 
            placeholder="Enter"
            [(ngModel)]="name.data">
          </div>
  
        </div>
  
        <div class="row">
  
          <div class="col">
            <label for="clientid" class="label-name">Client ID</label>
            <input type="text" 
            name="clientid" 
            id="clientid" 
            class="form-control"
            [(ngModel)]="clientId.data"
            placeholder="Enter">
          </div>
  
          <div class="col">
            <label for="dob" class="label-name">Date of Birth</label>
            <input class="form-control" 
            [ngModel]="dateOfBirth.data | date:'yyyy-MM-dd'" 
            (ngModelChange)="dateOfBirth.data = $event" 
            type="date" 
            name="dob"/>
          </div>
  
        </div>
  
        <div class="row">
  
          <div class="col">
            <label for="region" class="label-name">Region</label>
            <select class="form-control" 
              [(ngModel)]="region"
              (ngModelChange)="region = $event"  
              name = "region">
              <option [ngValue]="null">Select Region</option>
              <option *ngFor="let region of regionArr" 
              [value]="region"
              >
                {{region}}
              </option>
            </select>
          </div>
  
          <div class="col">
            <label for="department" class="label-name">Client Department</label>
            <select class="form-control" 
              [(ngModel)]="clientDepartment"
              (ngModelChange)="clientDepartment = $event"  
              name = "department">
              <option [ngValue]="null">Select Department</option>
              <option *ngFor="let department of departmentArr" 
              [value]="department"
              >
                {{department}}
              </option>
            </select>
  
          </div>
  
        </div>
  
        <div class="row">
  
          <div class="col">
              <label for="stat" class="label-name">Status</label>
              <select class="form-control" 
              [(ngModel)]="status.data"
              (ngModelChange)="status.data = $event"  
              name = "stat">
              <option [ngValue]="null">Select Status</option>
              <option *ngFor="let stat of statusArr" 
              [value]="stat"
              >
                {{stat}}
              </option>
            </select>
          </div> 
  
          <div class="col">
            <label for="date" class="label-name">Date</label>
            <input class="form-control" 
            [ngModel]="date.data | date:'yyyy-MM-dd'" 
            (ngModelChange)="date.data = $event" 
            type="date" 
            name="date"/>
          </div>
          
        </div>
      </div>

      
  
        <button type="button" class="btn regular-button" (click)="dataSearch()">Search</button>
  
      </div>
    </form>
  </div>
  
  
  
  <!-- <div class="button-section">
    
      <a routerLink="/newadvicerequest"><button class="btn special-button"> + New Advice Consultation</button></a>
  </div> -->
  
  
  
  <div>
      <table class="table">
          <thead class="header-table">
            <tr>
              <th scope="col">PRI</th>
              <th scope="col">Date</th>
              <th scope="col">Service Type</th>
              <th scope="col">Assesment Type</th>
              <th scope="col">Region</th>
              <th scope="col">Client's Name</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody *ngIf="str===null" class="body-table">
            <tr *ngFor="let q of servRequests" (click)="navigateToSummary(q)" class="request-list">
              <td>{{q.id}}</td>
              <td>{{q.authored | date: 'dd/MM/yyyy'}}</td>
              <td>{{getServiceType(q)}}</td>
              <td>{{getAssessmentType(q)}}</td>
              <td>{{getRegion(q)}}</td>
              <td>{{getCreatedBy(q)}}</td>
              <td>{{getClientName(q)}}</td>
              <td>{{q.status}}</td>
            </tr>
          </tbody>
        </table>
  </div>
  