<div class="container">

 
    <div class="main-header">
      <h5>Client Department</h5>
      <h6>Add Client department</h6>
    </div>

  <form [formGroup]="clientDepartmentFormGroup" novalidate class="center-align" >

    <section class="form-section">
      <div class="row">
        <div class="col-3">
          <label for="psohpRegion">PSOHP Region</label>
          <select name="psohpRegion" id="psohpRegion" formControlName="psohpRegion" class="form-control" required>
          <option *ngFor="let office of regionalOffices" [value]="office.id">
            {{office.name}}
          </option>  
          </select>
          <div *ngIf="clientDepartmentFormGroup.controls['psohpRegion'].invalid
                     && (clientDepartmentFormGroup.controls['psohpRegion'].touched || clientDepartmentFormGroup.controls['psohpRegion'].dirty)">
            <div class="error-message">
                <p> Cannot be blank</p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <label for="departmentName">Department Name</label>
          <input type="text" name="departmentName" id="departmentName" formControlName="departmentName" class="form-control"
            required placeholder="Enter">
          <div *ngIf="clientDepartmentFormGroup.controls['departmentName'].invalid
                 && (clientDepartmentFormGroup.controls['departmentName'].touched || clientDepartmentFormGroup.controls['departmentName'].dirty)">
            <div class="error-message">
                <p>Cannot be blank</p>
            </div>
          </div>
        </div>
        <div class="col">
          <label for="departmentBranch">Department Branch</label>
          <input type="text" name="departmentBranch" id="departmentBranch" formControlName="departmentBranch" class="form-control"
            placeholder="Enter" />
          <div *ngIf="clientDepartmentFormGroup.controls['departmentBranch'].invalid
                  && (clientDepartmentFormGroup.controls['departmentBranch'].touched || clientDepartmentFormGroup.controls['departmentBranch'].dirty)">
            <div class="error-message">
                <p>Cannot be blank</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-4">
          <label for="contactName">Contact Name</label>
          <input type="text" name="contactName" id="contactName" class="form-control " placeholder="Enter"
            formControlName="contactName">
          <div *ngIf="clientDepartmentFormGroup.controls['contactName'].invalid
                && (clientDepartmentFormGroup.controls['contactName'].touched || clientDepartmentFormGroup.controls['contactName'].dirty)">
            <div class="error-message">
              <p>Cannot be blank</p>
            </div>
          </div>
        </div>


        <div class="col-2">
            <div class="form-check">
              <input type="checkbox" id="chargebackClient" name="chargebackClient" class="form-check-input" formControlName="chargebackClient">
              <label for="chargebackClient" class="form-check-label">Chargeback Client</label>
            </div>
        </div>

    



        <div class="col-6">
          <label for="email">Email</label>
          <input type="text" name="email" id="email" class="form-control " placeholder="sample@email.com"
            formControlName="email">
          <div *ngIf="clientDepartmentFormGroup.controls['email'].invalid
                  && (clientDepartmentFormGroup.controls['email'].touched || clientDepartmentFormGroup.controls['email'].dirty)">
            <div class="error-message">
              <p>Cannot be blank, must be of valid email format: sample@email.com</p>
            </div>
          </div>
        </div>
      </div>



      <div class="row">
        <div class="col">
          <label for="phoneNumber">Phone number</label>
          <input type="text" name="phoneNumber" id="phoneNumber" class="form-control " placeholder="Enter"
            formControlName="phoneNumber" />
          <div *ngIf="clientDepartmentFormGroup.controls['departmentBranch'].invalid
          && (clientDepartmentFormGroup.controls['departmentBranch'].touched || clientDepartmentFormGroup.controls['departmentBranch'].dirty)">
          <div class="error-message">
              <p>Cannot be blank</p>
            </div>
          </div>
        </div>
        <div class="col">
          <label for="faxNumber">Fax number</label>
          <input type="text" name="faxNumber" id="faxNumber" class="form-control " placeholder="Enter" formControlName="faxNumber" />
          <div *ngIf="clientDepartmentFormGroup.controls['faxNumber'].invalid
        && (clientDepartmentFormGroup.controls['faxNumber'].touched || clientDepartmentFormGroup.controls['faxNumber'].dirty)">
        <div class="error-message">
            <p>Cannot be blank</p>
          </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="addressStreet">Address</label>
          <input type="text" name="addressStreet" id="addressStreet" class="form-control " placeholder="Enter"
            formControlName="addressStreet" />
          <div *ngIf="clientDepartmentFormGroup.controls['addressStreet'].invalid
                  && (clientDepartmentFormGroup.controls['addressStreet'].touched || clientDepartmentFormGroup.controls['addressStreet'].dirty)">
                  <div class="error-message">
                      <p>Cannot be blank</p>
                    </div>
          </div>
        </div>
        <div class="col">
          <label for="addressCity">City</label>
          <input type="text" name="addressCity" id="addressCity" class="form-control " placeholder="Enter"
            formControlName="addressCity" />
          <div *ngIf="clientDepartmentFormGroup.controls['addressCity'].invalid
        && (clientDepartmentFormGroup.controls['addressCity'].touched || clientDepartmentFormGroup.controls['addressCity'].dirty)">
        <div class="error-message">
            <p>Cannot be blank</p>
          </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="addressProvince">Province</label>
          <input type="text" name="addressProvince" id="addressProvince" class="form-control " placeholder="Enter"
            formControlName="addressProvince" />
          <div *ngIf="clientDepartmentFormGroup.controls['addressProvince'].invalid
                  && (clientDepartmentFormGroup.controls['addressProvince'].touched || clientDepartmentFormGroup.controls['addressProvince'].dirty)">
                  <div class="error-message">
                      <p>Cannot be blank</p>
                    </div>
          </div>
        </div>
        <div class="col">
          <label for="addressPostalCode">Postal code</label>
          <input type="text" name="addressPostalCode" id="addressPostalCode" class="form-control " placeholder="Enter"
            formControlName="addressPostalCode" />
          <div *ngIf="clientDepartmentFormGroup.controls['addressPostalCode'].invalid
          && (clientDepartmentFormGroup.controls['addressPostalCode'].touched || clientDepartmentFormGroup.controls['addressPostalCode'].dirty)">
          <div class="error-message">
              <p>Cannot be blank</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="button-section-line line">

    <button class="btn special-button"  [disabled]="!clientDepartmentFormGroup.valid" (click)="setClientDepartment()">Add</button>
  </div>
  </form>
</div>