h1              { font-size: 2em; margin: .67em 0 }
h2              { font-size: 1.5em; margin: .75em 0 }
h3              { font-size: 1.17em; margin: .83em 0 }
h5              { font-size: .83em; margin: 1.5em 0 }
h6              { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6          { font-weight: bolder }

h1 {
  /* margin-left: 235px;
    margin-right: 235px; */
  color: black;
}

p {
  color: black !important;
}

.outer-container {
  /* background-image: url('../../../assets/qualitycare.jpg'); */
/*padding: 50px;*/
}


@media screen and (max-width: 600px) {
  .card {
    margin: 0 28px 0 28px;
  }

}


.form-field {
    width: 587px;

    height: 45px;

    border-radius: 3px;

    border: solid 0.7px;

    margin: 15px;
    /*background-color: #ffffff;*/
}

.row {
    text-align: center;
    justify-content: center;
    /*padding: 10px;*/
}

#goc {
    width: 40%;

}

#login-box {
    display: flex;
    align-items: center;
    justify-content: center;
    /* max-width: 50%; */
    text-align: center;
    width: 50%;
}

#logbtn {
    background-color: #334f75;
    color: white;
    border-radius: 2px;
    /*border: solid 0.7px;*/
    width: 100px;
    height: 35px;


}

.login-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formButton {
    border-radius: 4px;
    border: 1px solid transparent;
}