
<div class="container" style="height: 86vh;">
    <div class="row align-items-center h-100">
        <div class="col-6 mx-auto">
            <div class="jumbotron">
                <div class='header  align-items-center d-flex justify-content-center'>
                    <h2>Welcome</h2>
                </div>

                <form #form="ngForm" novalidate [formGroup]="logInForm">
                    <div class="login-row">
                      <div id="login-box">
                          <div class="form-group">
                            
              
                            <input type="text" class="form-control form-field"  placeholder="Username" formControlName="username">
              
                              <input type="password" class="form-control form-field" placeholder="Password" formControlName="password">
                            <button class="btn" id="logbtn" (click)="login()">
                              Log in
                            </button>
                          </div>
              
                      </div>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</div>