
<div class="center-align" role="main">
  <div class="container">
    <form #form="ngForm" novalidate [formGroup]="logInForm">
      <div class="login-row">
        <div id="login-box">
            <div class="form-group">
              <h2>Welcome</h2>

              <input type="text" class="form-control form-field"  placeholder="Username" formControlName="username">
                <!--<mat-error *ngIf="username.invalid && username.touched">-->
                  <!--Username is incorrect-->
                <!--</mat-error>-->

                <input type="password" class="form-control form-field" placeholder="Password" formControlName="password">
                <!--<mat-error *ngIf="password.invalid && password.touched">-->
                  <!--<p>Your password should be at leasat 6 characters long, with at least one number</p>-->
                <!--</mat-error>-->
              <button class="btn" id="logbtn" (click)="login()">
                Log in
              </button>
            </div>

        </div>
      </div>
    </form>
  </div>
</div>
<!-- </div> -->