
<div class="row">
  <h2 mat-subheader>Create PSOHP District Office Record</h2>
</div>


<div id="content-form">
  <form [formGroup]="psohpFormGroup">
    <div class="row">
      <mat-grid-list cols="4" rowHeight="2:">
        <mat-form-field class="full form-field" appearance="outline">
          <mat-select placeholder="District Office" formControlName="districtOffice">
            <mat-option *ngFor="let dist of offices.district" [value]="offices.district">
              {{dist}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="full form-field  " appearance="outline">
          <mat-select placeholder="Regional Office" formControlName="regionalOffice">
            <mat-option *ngFor="let region of offices.regional" [value]="offices.regional">
              {{region}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-list>
    </div>
  
    <div class="row">
      <mat-form-field class="full form-field  " appearance="outline">
        <input matInput placeholder="Email" formControlName="email">
        <mat-error *ngIf="email.invalid && email.touched">
          Email is incorrect
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full form-field  " appearance="outline">
        <input matInput placeholder="Phone Number" formControlName="phoneNumber">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="full street  " appearance="outline">
        <input matInput placeholder="Address" formControlName="addressStreet">
      </mat-form-field>

      <mat-form-field class="full form-field  " appearance="outline">
        <input matInput placeholder="City" formControlName="addressCity">
      </mat-form-field>
    </div>

    <div class="row">

      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-form-field class="full form-field " appearance="outline">
          <input matInput placeholder="Province" formControlName="addressProv">
        </mat-form-field>

        <mat-form-field class="full form-field " appearance="outline">
          <input matInput placeholder="Postal Code" formControlName="addressPcode">
        </mat-form-field>
      </mat-grid-list>
    </div>

    <div class="row">
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-form-field class="full form-field " appearance="outline">
          <input matInput placeholder="Country" formControlName="addressCountry">
        </mat-form-field>
       </mat-grid-list>
    </div>

    <!-- <div class="row">
      <button mat-raised-button class="formButton" (click)="setEmployee()" color="primary">Submit</button>
    </div> -->
  </form>
</div>