<div class="header-row">
  <img src="../../assets/goc.jpg" id="goc" alt="Government of Canada" srcset="">
</div>
<div class="toolbar-row">
  <mat-toolbar color="primary" class="toolbar">
    <span> National Occuptational Health Information System</span>
    <span class="example-fill-remaining-space"></span>

  </mat-toolbar>

</div>

<div class="row">
  <h2 mat-subheader>CreatePSOHP District Office Record</h2>
</div>


<div id="content-form">
  <form [formGroup]="psohpFormGroup">
    <div class="row">
      <mat-grid-list cols="4" rowHeight="2:">
        <mat-form-field class="full form-field" appearance="outline">
          <mat-select placeholder="District Office" formControlName="districtOffice">
            <mat-option *ngFor="let dist of offices.district" [value]="offices.district">
              {{dist}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="full form-field  " appearance="outline">
          <mat-select placeholder="Regional Office" formControlName="regionalOffice">
            <mat-option *ngFor="let region of offices.regional" [value]="offices.regional">
              {{region}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-list>
    </div>
    <!-- <div class="row">
      <mat-grid-list cols="2" rowHeight="2:1">

        <mat-form-field class="full form-field " appearance="outline">
          <input matInput placeholder="First Name" formControlName="givenName">
          <mat-error *ngIf="givenName.invalid && givenName.touched">
            Cannot be blank!
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full form-field" appearance="outline">
          <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="dob">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </mat-grid-list>
    </div>
    <div class="row">
      <mat-form-field class="full form-field  " appearance="outline">
        <input matInput placeholder="Email" formControlName="email">
        <mat-error *ngIf="email.invalid && email.touched">
          Email is incorrect
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full form-field  " appearance="outline">
        <input matInput placeholder="Phone Number" formControlName="phoneNumber">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="full street  " appearance="outline">
        <input matInput placeholder="Address" formControlName="addressStreet">
      </mat-form-field>
      <mat-form-field class="full unit " appearance="outline">
        <input matInput placeholder="Unit" formControlName="addressUnit">
      </mat-form-field>
      <mat-form-field class="full form-field  " appearance="outline">
        <input matInput placeholder="City" formControlName="addressCity">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-form-field class="full form-field " appearance="outline">
          <input matInput placeholder="Province" formControlName="addressProv">
        </mat-form-field>
        <mat-form-field class="full form-field " appearance="outline">
          <input matInput placeholder="Postal Code" formControlName="addressPcode">
        </mat-form-field>
      </mat-grid-list>
    </div>

    <div class="row">
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-form-field class="full form-field " appearance="outline">
          <input matInput placeholder="Country" formControlName="addressCountry">
        </mat-form-field>
        <mat-form-field class="full form-field " appearance="outline">
          <input matInput placeholder="Language" formControlName="language">
        </mat-form-field>
      </mat-grid-list>
    </div> -->

    <!-- <div class="row">
      <button mat-raised-button class="formButton" (click)="setEmployee()" color="primary">Submit</button>
    </div> -->
  </form>
</div>