<div class="header-row">
  <img src="../../assets/goc.jpg" id="goc" alt="Government of Canada" srcset="">
</div>
<div class="toolbar-row">
  <mat-toolbar color="primary" class="toolbar">
    <span> National Occuptational Health Information System</span>
    <span class="example-fill-remaining-space"></span>

  </mat-toolbar>

</div>

<div class="row">
  <h2 mat-subheader>#00333 PSOHP Regional Office Account Summary</h2>
</div>


<div class="row">
  <mat-card  class="mat-elevation-z8 table">
    <table>
      <tr>
        <td>
          <div class="data-header">
            <div class="data-cell">
              <span>Regional Office</span>
            </div>
            <div class="data-cell">
              <span>Atlantic</span>
            </div>
          </div>
          <hr>

          <div class="data-header">
            <div class="data-cell">
              <span>Phone Number</span>
            </div>
            <div class="data-cell">
              <span>0-000-000-0000</span>
            </div>
          </div>
          <hr>

          <div class="data-header">
            <div class="data-cell">
              <span>Address & Street</span>
            </div>
            <div class="data-cell">
              <span>123 Second Street</span>
            </div>
          </div>
          <hr>
          <div class="data-header">
            <div class="data-cell">
              <span>Province</span>
            </div>
            <div class="data-cell">
              <span>Ontario</span>
            </div>
          </div>
          <hr>
        </td>
        <td>
          <div class="data-header">
            <div class="data-cell">
              <span>Email</span>
            </div>
            <div class="data-cell">
              <span>email@canada.ca</span>
            </div>
          </div>
          <hr>
          <div class="data-header">
            <div class="data-cell">
              <span>Fax No.</span>
            </div>
            <div class="data-cell">
              <span>0-000-000-0000</span>
            </div>
          </div>
          <hr>
          <div class="data-header">
            <div class="data-cell">
              <span>City</span>
            </div>
            <div class="data-cell">
              <span>Toronto</span>
            </div>
          </div>
          <hr>
          <div class="data-header">
            <div class="data-cell">
              <span>Postal Code</span>
            </div>
            <div class="data-cell">
              <span>M1M 1M1</span>
            </div>
          </div>
          <hr>

        </td>
      </tr>
    </table>
    <!-- <div class="data-section"> -->



    <!-- </div> -->




  </mat-card>
</div>