<ul class="menu">

  <div [ngClass]="roleInSession" *ngIf="roleInSession === 'admin' || 
                  roleInSession === 'registry' || 
                  roleInSession === 'clinician'">
    <li (click)="adminHomeScreen()" class="menu-item">
      <a (click)="adminHomeScreen()">Home</a>
    </li>
  </div>
  <div [ngClass]="roleInSession" *ngIf="roleInSession === 'manager' || roleInSession === 'superuser' ">
    <li (click)="staffUI()" class="menu-item">
      <a (click)="staffUI()">Home</a>
    </li>
  </div>
  <div *ngIf="roleInSession !== 'admin' && 
              roleInSession !== 'clinician' && 
              roleInSession !== 'manager' && 
              roleInSession !== 'registry' && 
              roleInSession !== 'superuser'">
    <li (click)="clientPage()" class="menu-item">
      <a (click)="clientPage()">Home</a>
    </li>
  </div>
  <div *ngIf="roleInSession === 'admin' || 
              roleInSession === 'clinician' || 
              roleInSession === 'manager' || 
              roleInSession === 'registry' || 
              roleInSession === 'superuser'">
    <li (click)="clientPage()" class="menu-item">
      <a (click)="clientPage()">Clients</a>
    </li>
  </div>
  <div [ngClass]="roleInSession">
    <li (click)="serviceRequestPage()" class="menu-item">
      <a (click)="serviceRequestPage()">Service Requests</a>
    </li>
  </div>
  <div [ngClass]="roleInSession" *ngIf="roleInSession === 'superuser'">
    <li (click)="districtOfficePage()" class="menu-item">
      <a (click)="districtOfficePage()">PSOHP Offices</a>
    </li>
    <!-- <div [ngClass]="roleInSession"> -->
    <li (click)="clientDepartmentPage()" class="menu-item">
      <a>Client Department</a>
    </li>
  </div>
  <!-- </div> -->
  <li (click)="adviceRequestPage()" class="menu-item">
    <a (click)="adviceRequestPage()">Contact Us</a>
  </li>
  <div [ngClass]="roleInSession" *ngIf="roleInSession === 'superuser'">
    <li (click)="acccountCreation()" class="menu-item">
      <a (click)="acccountCreation()">Add New Account</a>
    </li>
  </div>

  <!-- </div> -->
  <div>
    <li (click)="reporting()" class="menu-item">
      <a (click)="reporting()">Reporting</a>
    </li>
  </div>
</ul>
<!-- <li class="menu-item">
      <a >My Profile</a>
    </li> -->