<ul class="menu">
  <li (click)="clientPage()" class="menu-item">
    <a (click)="clientPage()">Clients</a>
  </li>

  <div [ngClass]="roleInSession">
    <li (click)="serviceRequestPage()" class="menu-item">
      <a (click)="serviceRequestPage()">Search for Service Request</a>
    </li>
  </div>
  <li (click)="districtOfficePage()" class="menu-item">
    <a (click)="districtOfficePage()">PSOHP Office</a>
  </li>
  <!-- <div [ngClass]="roleInSession"> -->
  <li (click)="clientDepartmentPage()" class="menu-item">
    <a>Client Department</a>
  </li>
  <!-- </div> -->
  <li (click)="adviceRequestPage()" class="menu-item">
    <a (click)="adviceRequestPage()">Contact Us</a>
  </li>
  <div [ngClass]="roleInSession">
    <li (click)="staffUI()" class="menu-item">
      <a (click)="staffUI()">Staff UI</a>
    </li>
  </div>
  <div [ngClass]="roleInSession">
    <li (click)="acccountCreation()" class="menu-item">
      <a (click)="acccountCreation()">Add New Account</a>
    </li>
  </div>
  <!-- </div> -->
  <div [ngClass]="roleInSession">
    <li (click)="labRequisition()" class="menu-item">
      <a (click)="labRequisition()">Requisition</a>
    </li>
  </div>
</ul>
<!-- <li class="menu-item">
      <a >My Profile</a>
    </li> -->