<div class='container'>
  <div class="main-header">
    <h5>Add PSOHP Office</h5>
  </div>

  <div>
    <div *ngIf="!showFormElement">
      <div class="button-section">
        <button (click)="showAddDisctrictOfficeForm()" class="btn special-button">
          Add new PSOHP Office</button>
      </div>

        <div class="table-container">
          <table style="margin-top: 25px" class="officeList table  table-hover" *ngIf="districtOffices.length > 0">
              <thead class="header-table">
                <tr>
                  <th>REGION</th>
                  <th>PSOHP OFFICE</th>
                  <th>ADDRESS</th>
                  <th>EMAIL</th>
                  <!-- <th>ACTION</th> -->
                </tr>
              </thead>
              <tbody class="body-table">
                <tr *ngFor="let item of districtOffices">
                  <td>{{getRegion(item.managingOrganization)}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.address.line[0]}}</td>
                  <td>{{item.telecom[0]['value']}}</td>
                  <!-- <td>
                    <button (click)="editNewDistrictOffice(item)">Edit</button>
                  </td> -->
                </tr>
              </tbody>
            </table>
        </div>
    </div>
    
        <div class="row">
          <button class="back-button btn special-button" (click)="hideAddDisctrictOfficeForm()">
            Back to List of Offices</button>
        </div>

        <div >
            <dynamic-form
              [config]="config"
              #form="dynamicForm"
              (submit)="submit($event)">
            </dynamic-form>
            {{ form.valid }}
            {{ form.value | json }}
          </div>

      <!-- <button class="btn special-button" style="margin-top: 20px" (click)="addNewDistrictOffice()">Add</button> -->

</div>
</div>