<div class='container'>
  
  <div class="main-header">
    <h5>PSOHP Offices</h5>
  </div>

  
   
      <div class="button-section">
        <button (click)="showAddDisctrictOfficeForm()" class="btn special-button">
          Add new PSOHP Office</button>
      </div>

        <div class="table-container">
          <table style="margin-top: 25px" class="officeList table  table-hover" *ngIf="districtOffices.length > 0">
              <thead class="header-table">
                <tr>
                  <th>REGION</th>
                  <th>PSOHP OFFICE</th>
                  <th>ADDRESS</th>
                  <th>EMAIL</th>
                  <!-- <th>ACTION</th> -->
                </tr>
              </thead>
              <tbody class="body-table">
                <tr *ngFor="let item of districtOffices">
                  <td>{{getRegion(item.managingOrganization)}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.address.line[0]}}</td>
                  <td>{{item.telecom[0]['value']}}</td>
                  <!-- <td>
                    <button (click)="editNewDistrictOffice(item)">Edit</button>
                  </td> -->
                </tr>
              </tbody>
            </table>
        </div>
    </div>
