<div class="container">

  <div class="edit-button-row">
    <button type="button" class="btn regular-dark-button float-right" (click)="viewDetailedContext()">
      View Detailed Context
    </button>
  </div>

  <div>
    <div class="main-header" *ngIf="serviceRequestSummary">
      <h5>Validate Request</h5>
      <h6>{{serviceRequestSummary['name']}} > SERVICE REQUEST # > {{serviceRequestSummary['serviceId']}}</h6>
    </div>
  </div>

  <div class="row" *ngIf="serviceRequestSummary">
    <div class="card full-card">
      <div class="card-body">
        <div class="summary-item">
          <label class="top-item-label">Name</label>
          <span class="bottom-item-label" *ngIf="serviceRequestSummary">{{serviceRequestSummary['name']}}</span>
        </div>
        <div class="summary-item">
          <label class="top-item-label">Service Request ID</label>
          <span class="bottom-item-label" *ngIf="serviceRequestSummary">{{serviceRequestSummary['serviceId']}}</span>
        </div>
        <div class="summary-item">
            <label class="top-item-label">Employee PRI</label>
            <span class="bottom-item-label" *ngIf="serviceRequestSummary">{{serviceRequestSummary['pri']}}</span>
          </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="!onSuccess">
    <div class="card full-card">
      <div class="card-body">
        <div class="row">
          <div class="col text-center">
            Do you wish to validate the current work order? Doing so will set the milestone to
            <strong>Validated</strong>.
          </div>
        </div>
      </div>
      <div class="card-footer text-center card-footer-recolour-clear">
          <button class="btn regular-dark-button margin-right-20" (click)="switchMileStoneToValidated()">
              Continue
            </button>
      </div>
    </div>
  </div>
  
  <div class="row" *ngIf="onSuccess">
    <div class="alert alert-success" *ngIf="serviceRequestSummary">
      <strong>Assessment for {{serviceRequestSummary['name']}} created Successfully</strong>
    </div>
  </div>

</div>