<div class="container">

  <div class="edit-button-row">
    <button type="button" class="btn regular-dark-button float-right" (click)="viewDetailedContext()">
      View Detailed Context
    </button>
  </div>
  
  <div>
    <div class="main-header" *ngIf="serviceRequestSummary">
      <h5>Assessments</h5>
      <h6>{{serviceRequestSummary['name']}} > SERVICE REQUEST # > {{serviceRequestSummary['serviceId']}}</h6>
    </div>
  </div>
  
  <div *ngIf="!assessmentSavedFlag">
      <div class="row" *ngIf="serviceRequestSummary">
        <div class="card assessment-card">
          <div class="card-body">
            <div class="col-4 float-left">Service Request ID: {{serviceRequestSummary['serviceId']}}</div>
            <div class="col-4 float-right">Client Name: {{serviceRequestSummary['name']}}</div>
          </div>
        </div>
      </div>
    
      <div class="row">
        <div class="card assessment-card">
          <div class="card-body">
            <form [formGroup]="assessmentFormGroup" class="center-align">
              <div class="row">
                <div class="col">
                  <label for="performerType">Examination Performed By</label>
                  <select class="form-control" formControlName="performerType" id="performerType">
                    <option *ngFor="let performer of performerList" [ngValue]="performer.value">
                      {{performer.viewValue}}
                    </option>
                  </select>
                </div>
                <div class="col">
                  <label for="examDate">Exam Date</label>
                  <input class="form-control" placeholder="Datepicker" formControlName="examDate" id="examDate"
                    bsDatepicker [bsConfig]='datePickerConfig' [minDate]="minDate" [maxDate]="maxDate">
                </div>
              </div>
              <div class="row">
                <div class="col">
                    ASSESSMENT
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for="assessmentQOne">1. Meets Medical Requirements</label>
                  <div class="col">
                    <button class="btn yes-no-button" [ngClass]="buttonClassOne" (click)="patchFormValueForButton('assessmentQOne', 'Yes')">Yes</button>
                    <button class="btn yes-no-button" [ngClass]="buttonClassUnSelectedOne" (click)="patchFormValueForButton('assessmentQOne', 'No')">No</button>
                  </div>
                </div>
                <div class="col">
                  <label for="assessmentQTwo">2. Meets Medical Requirements with Limiations</label>
                  <div class="col-7">
                    <button class="btn yes-no-button" [ngClass]="buttonClassTwo" (click)="patchFormValueForButton('assessmentQTwo', 'Yes')">Yes</button>
                    <button class="btn yes-no-button" [ngClass]="buttonClassUnSelectedTwo" (click)="patchFormValueForButton('assessmentQTwo', 'No')">No</button>
                  </div>
                  <div class="float-right adjust-two-a " [ngClass]="{'hidden': !checkIfMeetsRequirements()}">
                    <input type="radio" value='Temporary' class="radio-button" formControlName="assessmentQTwoA">Temporary
                    <input type="radio" value='Permanent' class="radio-button" formControlName="assessmentQTwoA">Permanent
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for="assessmentQThree">3. Missing Medical Information</label>
                  <div class="col">
                    <button class="btn yes-no-button" [ngClass]="buttonClassThree" (click)="patchFormValueForButton('assessmentQThree', 'Yes')">Yes</button>
                    <button class="btn yes-no-button" [ngClass]="buttonClassUnSelectedThree" (click)="patchFormValueForButton('assessmentQThree', 'No')">No</button>
                  </div>
                </div>
                <div class="col">
                  <label for="assessmentQFour">4. Unable to assess</label>
                  <div class="col">
                    <button class="btn yes-no-button" [ngClass]="buttonClassFour" (click)="patchFormValueForButton('assessmentQFour', 'Yes')">Yes</button>
                    <button class="btn yes-no-button" [ngClass]="buttonClassUnSelectedFour" (click)="patchFormValueForButton('assessmentQFour', 'No')">No</button>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <label for="comment">Additional Comments</label>
                  <input type="text" class="form-control" placeholder="Enter" formControlName="comment" id="comment" name="comment">
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for="expiryDate">Expiry Date</label>
                  <input class="form-control" placeholder="Datepicker" formControlName="expiryDate" id="expiryDate"
                    bsDatepicker [bsConfig]='datePickerConfig' [minDate]="minDate">
                </div>
                <div class="col">
                    <label for="nextAssessment">Next Assessment</label>
                    <input class="form-control" placeholder="Datepicker" formControlName="nextAssessment" id="nextAssessment"
                      bsDatepicker [bsConfig]='datePickerConfig' [minDate]="minDate">
                  </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for="vaccineStatusRequired">Vaccination Status Required</label>
                  <div class="col">
                    <button class="btn yes-no-button" [ngClass]="vaccStatus" (click)="patchFormValueForButton('vaccineStatusRequired', 'Yes')">Yes</button>
                    <button class="btn yes-no-button" [ngClass]="vaccStatusUnSelected" (click)="patchFormValueForButton('vaccineStatusRequired', 'No')">No</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col button-row">
            <button class="btn regular-dark-button margin-right-20" (click)="createEncounter()">
              Save Assessment Report
            </button>
            <button class="btn regular-dark-button" (click)="createEncounter()">
                Print Report
              </button>
          </div>
      </div>
      <app-scheduler></app-scheduler>
  </div>
    
  <div *ngIf="assessmentSavedFlag">
      <div class="row">
          <div class="alert alert-success" *ngIf="serviceRequestSummary">
            <strong>Assessment for {{serviceRequestSummary['name']}} created Successfully</strong>
          </div>
        </div>

  </div>

  
    
</div>
