.assessment-card {
    min-width: 100%;
    margin-bottom: 30px;
}

.yes-no-button {
    width: 100px;
    height: 40px;
    border-radius: 2px;
    border: solid 0.7px #398ef2;
    background-color: #ffffff;
    padding-right: 1px;
    margin-right: 1px;
}

.yes-no-button-selected {
    width: 100px;
    height: 40px;
    border-radius: 2px;
    background-color: #398ef2;
    color: white;
    padding-right: 1px;
    margin-right: 1px;
}

.radio-button {
    width: 20px;

}

.hidden {
    visibility: hidden;
}

.col {
    padding-bottom: 5px;
}

.button-row {
    margin-left: -15px;
}

.margin-right-20 {
    margin-right: 20px;
}

.adjust-two-a {
    margin: -32px 0 0 0;
}

.summary-row {
    padding-bottom: 15px;
    margin-left: 14px
}


.adjust-print-section {
    margin: 0 0 0 18px;
    padding: 40px;
}

.row-log {
    // width: 100%;
    // float: left;
    padding-bottom: 15px;
}

.mini-banner {
    width: 30%
}

.p-t-30 {
    padding-top: 30px;
}

.card-footer-recolour {
    background-color: white;
}