<div class="container">

  <div *ngIf="!confirmSubmit && !successHeaderCheck, else otherHeader">
    <div class="main-header">
      <h5>accounts</h5>
      <h6>accounts > create a new nohis user account</h6>
    </div>
  </div>

  <ng-template #otherHeader>
    <div *ngIf="!successHeaderCheck, else successHeader">
      <div class="main-header">
        <h5>accounts</h5>
        <h6>accounts > Confirm account before submission</h6>
      </div>
    </div>
  </ng-template>

  <ng-template #successHeader>
    <div class="main-header">
      <h5>accounts</h5>
      <h6>accounts > Success! Account for {{practitionerPieces.given}} {{practitionerPieces.family}} has been created!
      </h6>
    </div>
  </ng-template>

  <form [formGroup]="accountFormGroup" novalidate class="center-align">

    <div class="row">

      <div class="col">
        <label for="pri">Employee PRI (Required)</label>
        <input type="text" class="form-control" placeholder="PRI" formControlName="pri" id="pri" name="pri" required>
        <div *ngIf="accountFormGroup.controls['pri'].invalid
                  && (accountFormGroup.controls['pri'].touched || accountFormGroup.controls['pri'].dirty)">
          <div class="error-message">
            Must be 9 characters characters long
          </div>
        </div>
      </div>
      <div class="col">
        <label for="password">Password (Required)</label>
        <input type="password" class="form-control" placeholder="password" formControlName="password" id="password"
          name="password" required>
        <div *ngIf="accountFormGroup.controls['password'].invalid
                    && (accountFormGroup.controls['password'].touched || accountFormGroup.controls['password'].dirty)">
          <div class="error-message">
            Must be six or more characters long
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="family">Last Name (Required)</label>
        <input type="text" class="form-control" placeholder="Last Name" formControlName="family" id="family"
          name="family" required>
        <div *ngIf="accountFormGroup.controls['family'].invalid
                      && (accountFormGroup.controls['family'].touched || accountFormGroup.controls['family'].dirty)">
          <div class="error-message">
            Must be two or more characters long
          </div>
        </div>
      </div>
      <div class="col">
        <label for="given">First Name (Required)</label>
        <input type="text" class="form-control" placeholder="First Name" formControlName="given" id="given" name="given"
          required>
        <div *ngIf="accountFormGroup.controls['given'].invalid
                        && (accountFormGroup.controls['given'].touched || accountFormGroup.controls['given'].dirty)">
          <div class="error-message">
            Must be two or more characters long
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="role">Role (Required)</label>
        <select class="form-control" formControlName="role" id="role">
          <option value="placeholder" disabled>Select</option>
          <option *ngFor="let roles of roleTypes" [value]="roles.value">
            {{roles.viewValue}}
          </option>
          <div *ngIf="accountFormGroup.controls['role'].errors  
                  && (accountFormGroup.controls['role'].touched || accountFormGroup.controls['role'].dirty)">
            <div class="error-message">
              Cannot be blank
            </div>
          </div>
        </select>
      </div>
      <div class="col">
        <label for="roleDescription">Role Description</label>
        <input type="text" class="form-control" placeholder="Role Description" formControlName="roleDescription"
          id="roleDescription" name="roleDescription">
        <div
          *ngIf="accountFormGroup.controls['roleDescription'].errors
                          && (accountFormGroup.controls['roleDescription'].touched || accountFormGroup.controls['roleDescription'].dirty)">
          <div class="error-message">
            Must be two or more characters long
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="phoneNumber">Phone Number (Required)</label>
        <input type="text" class="form-control" placeholder="0000000000" formControlName="phoneNumber" id="phoneNumber"
          name="phoneNumber" required>
        <div
          *ngIf="accountFormGroup.controls['phoneNumber'].invalid
                        && (accountFormGroup.controls['phoneNumber'].touched || accountFormGroup.controls['phoneNumber'].dirty)">
          <div class="error-message">
            Must be 10 digits, no spaces or hyphens
          </div>
        </div>
      </div>
      <div class="col">
        <label for="email">Email (Required)</label>
        <input type="text" class="form-control" placeholder="sample@email.com" formControlName="email" id="email"
          name="email" required>
        <div *ngIf="accountFormGroup.controls['email'].invalid
                          && (accountFormGroup.controls['email'].touched || accountFormGroup.controls['email'].dirty)">
          <div class="error-message">
            Must be two or more characters long
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="regionalOffice">Regional Office</label>
        <select class="form-control" formControlName="regionalOffice" id="regionalOffice">
          <option value="">(Select)</option>
          <!-- <option [ngValue]="null">Select</option> -->
          <option *ngFor="let regionalOffice of regionalOffices" [value]="regionalOffice.id">
            {{regionalOffice.name}}
          </option>
          <div
            *ngIf="accountFormGroup.controls['regionalOffice'].invalid 
              && (accountFormGroup.controls['regionalOffice'].touched || accountFormGroup.controls['regionalOffice'].dirty)">
            <div class="error-message">
              Cannot be blank
            </div>
          </div>
        </select>
      </div>
      <div class="col">
        <label for="districtOffice">District Office</label>
        <select class="form-control" formControlName="districtOffice" id="districtOffice">
          <option value="">(Select)</option>
          <option *ngFor="let districtOffice of districtOffices" [value]="districtOffice.id">
            {{districtOffice.name}}
          </option>
          <div
            *ngIf="accountFormGroup.controls['districtOffice'].invalid 
              && (accountFormGroup.controls['districtOffice'].touched || accountFormGroup.controls['districtOffice'].dirty)">
            <div class="error-message">
              Cannot be blank
            </div>
          </div>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="departmentName">Department Name (Required)</label>
        <select class="form-control" formControlName="departmentName" id="departmentName" required>
          <option value="">(Select)</option>
          <option *ngFor="let department of employeeDepartmentList" [value]="department.id">
            {{department.name}}
          </option>
          <div
            *ngIf="accountFormGroup.controls['departmentName'].invalid 
                && (accountFormGroup.controls['departmentName'].touched || accountFormGroup.controls['departmentName'].dirty)">
            <div class="error-message">
              Cannot be blank
            </div>
          </div>
        </select>
      </div>
      <div class="col">
        <label for="departmentBranch">Department Location (Required)</label>
        <select class="form-control" formControlName="departmentBranch" id="departmentBranch" required>
          <option value="">(Select)</option>
          <option *ngFor="let branch of jobLocationList" [value]="branch.id">
            {{branch.name}}
          </option>
          <div
            *ngIf="accountFormGroup.controls['departmentBranch'].invalid 
                && (accountFormGroup.controls['departmentBranch'].touched || accountFormGroup.controls['departmentBranch'].dirty)">
            <div class="error-message">
              Cannot be blank
            </div>
          </div>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <table class="lro-section">
          <tr>
            <td class="td-adjust"><label>Is this an LRO Account?</label></td>
            <td class="td-adjust"><label><input type="radio" [value]=true class="radio-button" formControlName="lro">Yes</label></td>
            <td class="td-adjust"><label><input type="radio" [value]=false class="radio-button" formControlName="lro">No</label></td>
          </tr>
        </table>
      </div>
      <div class="col-6">
        <table>
          <tr>
            <td>
              <label for="chargeback" class="form-check-label">Charge Back Client</label>
            </td>
            <td class="charge-back-checkbox">
              <input type="checkbox" id="chargeback" name="chargeback"
                formControlName="chargeback" (change)="updateCheckbox($event)">
            </td>
          </tr>
        </table>

      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="button-section line">
          <button class="btn regular-dark-button float-right" [disabled]="!activateSubmitButton"
            (click)="createPractitioner()">Submit</button>

          <button class="btn regular-button" (click)="returnToEditInputs()">Back</button>
          <button class="btn regular-button" (click)="disableInputsBeforeSubmission()">Next</button>
        </div>
      </div>
    </div>
  </form>

  
  <div class="row">
    <div *ngIf="showSuccessMessage">
      <strong>Account created successfully!!</strong>
      <!-- <button class="btn regular-button" (click)="returnToDashboard()">Return to Dashboard</button> -->
    </div>
    <div *ngIf="showFailureMessage">
      <strong>{{failureMessage}}</strong>
    </div>
  </div>

</div>