/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.css';


/* variables */
$denim: #334f75;
$grey: #ced4da;
$light-grey: rgba(0, 0, 0, 0.18);
$light-grey-2: #f8f8f8;
$white: #ffffff;
$skyBlue: #7fd6ed;
$red: #CC3D4F;

@mixin buttons-global{
  border-radius: 2px;
  background-color: $white;
  font-size: 13px;
  border: 1px solid $grey;
  padding-left: 30px;
  padding-right: 30px;
}


/*************** styling ****************/

html, body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
  }
    
 
body {
    font-family: 'Lato', sans-serif;
}


/* font */
h2{
  font-size: 30px;
  font-weight: bold;
}

h4, h5, h6{
    text-transform: uppercase;
}
h6{
    font-size: 12px;
}

p{
    font-size: 11px;
}

.error-message{
    p{
        color: $red;
    }
}


/* global responsive styling */

.row:before, row:after, .col-5{
    display: inline-block;
}
/* .col-6{
    padding: 0;
}
.col-1, .col-lg-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-11, .col-lg-10, .col-md-9{
    padding: 0;
} */

.col-12-custom{
    width: 100%;
}

.col-6-custom{
    width: 50%;
    display: inline-block;
}


/* buttons */

.signIn-button{
    background-color: $denim;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    border-radius: 2px;
}

.special-button{
  @include buttons-global;
  padding: 6px 60px;
}

.regular-button{
    @include buttons-global;
}

.move-dwn{
    margin-top: 66px;
}

.action-button{
    background-color: $light-grey;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 2px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;   
    cursor: inherit;
    display: block;
}


/* headers */

.main-header{
    margin: 50px 0 70px 0;
}
.header{
    margin-bottom: 30px;
}



/* form */

textarea {
    resize: none;
    outline: none;
  }

label{
    font-size: 11px;
}

select{
    font-size: 13px;
    border-radius: 2px;
    background-color: $white;
}

.form-control{
    font-size: 13px;
    border-radius: 2px;
    background-color: $white;
}

.form-check {
    padding-top: 35px;
}

.was-validated .form-control:valid,
.was-validated .form-control:valid:focus,
.form-control.is-valid, 
.form-control.is-valid:focus, 
.was-validated .custom-select:valid, 
.was-validated .custom-select:valid:focus,
.custom-select.is-valid,
.custom-select.is-valid:focus  {
    border-color: $skyBlue;
    box-shadow: none;
}

// input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
//     background-color: white !important;
//     background-image: none !important;
//     color: rgb(0, 0, 0) !important;
// }

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
//   -webkit-text-fill-color: purple;
  -webkit-box-shadow: 0 0 0px 1000px $white inset;
  transition: background-color 5000s ease-in-out 0s;
}


/* other */

.height-100{
    min-height: 86vh;
}

.line{
    border-top: 2px solid $grey;
    padding-top: 40px;
}
.button-section{
    margin-bottom: 35px;
}

.form-section{
    padding-bottom: 70px;
}
.table{
        thead{
            background-color: $light-grey;
             border: 1px solid $grey; 

            th{
                font-size: 11px;
                font-weight: normal;
                text-transform: uppercase;
            }
        }
        tbody.body-table{
            border: 1px solid $grey; 
            tr{
                td{
                    font-size: 13px;
                    font-weight: normal;
                }
            }
        }
}

.search-box {
    margin-bottom: 50px;
    padding: 60px;
    background-color: $light-grey-2;
    border: 1px solid $grey;
    form{
        .form-group{
            .form-group-search{
                margin-bottom: 30px;
            }
        }
    }
}

