.table {
    padding: 0;
}
.form-control {
    width: 20%;
}

.special-button {
    margin-left: 15px;
}

.table th, .table td {
    vertical-align: middle;
    padding: 10px;
}

.h6 {
    margin-top: 20px;
}

.section {
    margin-top: 25px;
}
.nav-item {
    cursor: pointer;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #334f75;
}