

<div class="container" id="print2" style="padding-top: 30px;" >
  <div class="main-header" style="margin-top: 20px;">
    <h5>Public Service Occupational / Health program</h5>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="form-group">
        <label class="title">Employees</label>
        <select (change)="onChangeEmploye($event.target.value)" class="custom-form-control" >
          <option *ngFor="let patient of listOfPatient" [value]="patient | json"> {{getNameFromResource(patient.resource)}} - {{getDate(patient.resource.birthDate)}} </option>
        </select>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="form-group">
        <label for="SERVREQ"> SERVREQ</label>
        <select id="SERVREQ" class="custom-form-control" (change)="onChangeServerQ($event.target.value)" >

          <option *ngFor="let questionay of listQuestionary" [value]="questionay | json">  {{questionay.resource.id}} </option>
        </select>
      </div>
    </div>

  </div>

  <div class="patient-table">
    <table>
      <thead class="patient-table-header">
        <th class="patient-table-data-cells">Name</th>
        <th class="patient-table-data-cells">Date of Birth</th>
        <th class="patient-table-data-cells">PRI</th>
        <th class="patient-table-data-cells">Department</th>
        <th class="patient-table-data-cells">Branch</th>
      </thead>
      <tbody class="patient-table-body">
        <td class="patient-table-data-cells">{{patient.name}}</td>
        <td class="patient-table-data-cells">{{patient.dob}}</td>
        <td class="patient-table-data-cells">{{patient.employeeId}}</td>
        <td class="patient-table-data-cells">{{patient.workplace}}</td>
        <td class="patient-table-data-cells">{{patient.branch}}</td>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-6">
      <div class="form-group">
        <label >Type of Requisition</label>
        <select [(ngModel)]="requisitionType" class="custom-form-control" (change)="checkForChangeInRequisitionType()">
          <option>Diagnostics Test</option>
          <option>Consultation</option>
          <option>Medical Information</option>
        </select>
      </div>
    </div>
  </div>



  <!-- Consultation & Medical Information -->

  <div *ngIf="requisitionType==='Consultation' || requisitionType==='Medical Information'" class="search-box">
    <h6 class="consultation-header">{{requisitionType}}</h6>

    <form [formGroup]="consultationFormGroup">

      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <label for="assignTo">Assign Clinician: </label>
            <select id="assignTo" class="custom-form-control" required name="assignTo" formControlName="assignTo">
              <option *ngFor="let clinician of clinicians" [ngValue]="clinician">
                <span>{{clinician.name}}</span>
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="speciality" >Speciality: </label>
            <!-- <input type="text" class="form-control value" name="speciality" formControlName="speciality">-->
            <select id="speciality" class="custom-form-control" name="speciality" formControlName="speciality">
              <option *ngFor="let speciality of specialities" [value]="speciality"> {{speciality}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="instructions" >Instructions: </label>
            <textarea id="instructions" style="height: auto" class="custom-form-control instructions" name="instructions" formControlName="instructions"></textarea>
          </div>
        </div>

      </div>


    </form>

    <div class="consultation-buttons">
      <button class="btn special-button" (click)="saveConsultation()">Submit</button>
      <button class="btn special-button" (click)="requisitionType=''">Cancel</button>
      <button class="btn special-button" *ngIf="requisitionType === 'Consultation'" (click)="printConsutationMadicalInfo(requisitionType)">Print</button>
      <button class="btn special-button" *ngIf="requisitionType === 'Medical Information'" (click)="printConsutationMadicalInfo(requisitionType)">Print</button>
    </div>


  </div>

  <!-- Lab Test -->

  <div *ngIf="requisitionType=='Diagnostics Test'">

    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="form-group">
          <label >Service Delivery: </label>
          <select [(ngModel)]="serviceDeliveryType" class="custom-form-control">
            <option>Point of Care</option>
            <option>Referral</option>
          </select>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="form-group">
          <label class="title">Instructions: </label>
          <textarea style="height: auto" [(ngModel)]="instructions" class="custom-form-control instructions"></textarea>
        </div>
      </div>

    </div>



   <!-- <div class="field form-inline">
      <label class="title">Instructions: </label>
      <textarea [(ngModel)]="instructions" class="form-control instructions"></textarea>
    </div>
-->
    <!-- Items -->
    <!-- <div *ngIf="serviceDeliveryType.length>0"> -->
    <div> <!--id="print"-->
      <ul>
        <li *ngFor="let item of labTestArray">
          <label class="item-header">{{item.text | uppercase}}</label>
          <section *ngIf="item.items">
            <div *ngFor="let element of item.items">
              <label class="item">
                <input type="checkbox" [(ngModel)]="element.checked">
                <span class="checklist-item">{{element.text}}</span>
              </label>
            </div>
          </section>
        </li>
      </ul>
      <!-- </div> -->

      <button class="btn special-button" (click)="saveProcedureRequest()">Submit</button>
      <button class="btn special-button" (click)="printToPDF()">Print</button>
    </div>

  </div>

  <div class="row footer" *ngIf="requisitionType=='Diagnostics Test'">
    <div class="col-md-12 col-sm-12">
        <div class="print-footer">
          <div class="clinician">
            <label>Clinician: {{clinician_id}} </label>
          </div>
          <div class="userName">
            <label>Name: {{userName}} </label>
          </div>
          <div class="todayDate">
            <label> Date: {{todayDate}} </label>
          </div>
        </div>
    </div>
  </div>



</div>

<div class="container" style="position: absolute; left: -9999px; top: -9999px;">
  <div class="print-main-section" id="print" >
    <div class="row-log">
      <div class="logo-left">
        <img  src="../../../../assets/healthcanada-logo.png" alt="">
      </div>
    </div>
    <div class="print-main-header">
      <h5>Public Service Occupational / Health program</h5>
    </div>
    <div class="print-patient-table">
      <table>
        <thead class="patient-table-header">
        <th class="patient-table-data-cells">Name</th>
        <th class="patient-table-data-cells">Date of Birth</th>
        <th class="patient-table-data-cells">PRI</th>
        <th class="patient-table-data-cells">Department</th>
        <th class="patient-table-data-cells">Branch</th>
        </thead>
        <tbody class="patient-table-body">
        <td class="patient-table-data-cells">{{patient.name}}</td>
        <td class="patient-table-data-cells">{{patient.dob}}</td>
        <td class="patient-table-data-cells">{{patient.employeeId}}</td>
        <td class="patient-table-data-cells">{{patient.workplace}}</td>
        <td class="patient-table-data-cells">{{patient.branch}}</td>
        </tbody>
      </table>
    </div>
    <div class="lable-test-main">
      <ul>
        <li *ngFor="let item of labTestArray">
          <label class="item-header">{{item.text | uppercase}}</label>
          <section *ngIf="item.items">
            <div *ngFor="let element of item.items">
              <label class="item">
                <input type="checkbox" [(ngModel)]="element.checked">
                <span class="checklist-item">{{element.text}}</span>
              </label>
            </div>
          </section>
        </li>
      </ul>
    </div>
    <div class="print-footer" style="margin-top: 20px;">
      <div class="clinician">
        <label>  Clinician ID: {{clinician_id}} </label>
      </div>
      <div class="userName">
        <label>  Name: {{userName}} </label>
      </div>
      <div class="todayDate">
        <label> Date: {{todayDate}} </label>
      </div>
    </div>

  </div>


</div>
