<div class="main-header">
  <h5>Lab Requisition</h5>
</div>
<div class="container">

  <div class="row patient-table">
    <table>
      <thead class="patient-table-header">
        <th class="patient-table-data-cells">Name</th>
        <th class="patient-table-data-cells">Date of Birth</th>
        <th class="patient-table-data-cells">Employee ID</th>
        <th class="patient-table-data-cells">Department</th>
        <th class="patient-table-data-cells">Branch</th>
      </thead>
      <tbody class="patient-table-body">
        <td class="patient-table-data-cells">{{patient.name}}</td>
        <td class="patient-table-data-cells">{{patient.dob}}</td>
        <td class="patient-table-data-cells">{{patient.employeeId}}</td>
        <td class="patient-table-data-cells">{{patient.workplace}}</td>
        <td class="patient-table-data-cells">{{patient.branch}}</td>
      </tbody>
    </table>
  </div>

  <div class="form-inline">
    <label class="title">Type of Requisition</label>
    <select [(ngModel)]="requisitionType" class="form-control value" (change)="checkForChangeInRequisitionType()">
      <option>Diagnostics Test</option>
      <option>Consultation</option>
      <option>Medical Information</option>
    </select>
  </div>

  <!-- Consultation & Medical Information -->

  <div *ngIf="requisitionType==='Consultation' || requisitionType==='Medical Information'" class="search-box">
    <h6 class="consultation-header">{{requisitionType}}</h6>

    <form [formGroup]="consultationFormGroup">
      <div class="field form-inline">
        <label for="assignTo" class="title">Assign Clinician: </label>
        <select class="form-control value" required name="assignTo" formControlName="assignTo">
          <option *ngFor="let clinician of clinicians" [ngValue]="clinician">
            <span>{{clinician.name}}</span>
          </option>
        </select>
      </div>
      <div class="field form-inline">
        <label for="speciality" class="title">Speciality: </label>
        <input type="text" class="form-control value" name="speciality" formControlName="speciality">
      </div>
      <div class="field form-inline">
        <label for="instructions" class="title">Instructions: </label>
        <textarea class="form-control instructions" name="instructions" formControlName="instructions"></textarea>
      </div>
    </form>

    <div class="consultation-buttons">
      <button class="btn special-button" (click)="saveConsultation()">Submit</button>
      <button class="btn special-button" (click)="requisitionType=''">Cancel</button>
    </div>


  </div>

  <!-- Lab Test -->

  <div *ngIf="requisitionType=='Diagnostics Test'">

    <div class="field form-inline">
      <label class="title">Service Delivery: </label>
      <select [(ngModel)]="serviceDeliveryType" class="form-control value">
        <option>Point of Care</option>
        <option>Referral</option>
      </select>
    </div>

    <div class="field form-inline">
      <label class="title">Instructions: </label>
      <textarea [(ngModel)]="instructions" class="form-control instructions"></textarea>
    </div>

    <!-- Items -->
    <!-- <div *ngIf="serviceDeliveryType.length>0"> -->
    <div id="print">
      <ul>
        <li *ngFor="let item of labTestArray">
          <label class="item-header">{{item.text | uppercase}}</label>
          <section *ngIf="item.items">
            <div *ngFor="let element of item.items">
              <label class="item">
                <input type="checkbox" [(ngModel)]="element.checked">
                <span class="checklist-item">{{element.text}}</span>
              </label>
            </div>
          </section>
        </li>
      </ul>
      <!-- </div> -->

      <button class="btn special-button" (click)="saveProcedureRequest()">Submit</button>
      <button class="btn special-button" (click)="printToPDF()">Print</button>
    </div>

  </div>


</div>